#%RAML 0.8
title: 'Launchpad: Non-POS Merchant Boarding'
version: 2.6.2
documentation:
- title: 'Launchpad: Non-POS Merchant Boarding'
  content: The Launchpads Merchant Boarding API allows Worldpay partners to onboard merchants to Worldpay's Payments Platform. Please see the Getting Started page for more information. </br> </br> To contact our certifications team, please email <a href="mailto:Certification2@fisglobal.com">Certification2@fisglobal.com</a>.   </br> To contact the product team, please email <a href="mailto:APICustomerIntegration@fisglobal.com">APICustomerIntegration@fisglobal.com</a>.
baseUri: https://apis.cert.worldpay.com/merchant-boarding/v2
securedBy:
- api_key
protocols:
- HTTPS
baseUriParameters: {}
schemas:
- Schema: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Schema",
      "title": "Schema",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
- ExistingApplication: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ExistingApplication",
      "title": "ExistingApplication",
      "type": "object",
      "properties": {
        "externalRefId": {
          "description": "A unique GUID generated by POST resource, used for retrieving and updating a deal. Do not send in the request, API will always generate one and assign it to the deal.",
          "example": "df8a6d82-3bb4-4f3b-ba18-57a5981ede8e",
          "type": "string",
          "maxLength": 36,
          "pattern": "([0-9a-z]{8})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{12})"
        },
        "businessInfo": {
          "id": "BusinessInfo",
          "title": "BusinessInfo",
          "type": "object",
          "properties": {
            "dbaName": {
              "description": "The merchant name they do business as.  Generally with what their customers know the business.",
              "example": "The DBA Name",
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "legalName": {
              "description": "Business Legal Name as filed with the IRS.",
              "example": "Timothy Jones",
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "ownershipType": {
              "title": "OwnershipType",
              "description": "Required. OwnershipType defines the type of the Merchant Organization, and drives the requirements for data collections of beneficial and control owners under U.S. Financial Crimes Enforcement Network (FinCEN).",
              "example": "LLC",
              "type": "string",
              "enum": [
                "GOVERNMENT",
                "SOLE PROPRIETOR",
                "LLC",
                "PARTNERSHIP",
                "FIN INSTITUTION",
                "NON-PROFIT",
                "ASSOCIATION/ESTATE/TRUST",
                "PRIVATE CORPORATION",
                "SEC REGISTERED",
                "PUBLIC CORPORATION",
                "OTHER"
              ]
            },
            "mccCode": {
              "description": "SIC Code / MCC Code (Merchant Category Code) is the code use to describe what the merchant is selling. Use MCC look up call to search valid codes, with sort and long description to find the MCC that most closely matches what the merchant is selling.",
              "example": "5812",
              "type": "string",
              "minLength": 4,
              "maxLength": 4
            },
            "businessEstablishedDate": {
              "description": "Date (CCYY-MM-DD) on which the merchant's business was established.",
              "example": "2000-03-23",
              "type": "string",
              "format": "date"
            },
            "websiteUrl": {
              "description": "The URL of the merchant's website.",
              "example": "www.thefoodplace.com",
              "type": "string",
              "minLength": 0,
              "maxLength": 80
            },
            "numberOfLocation": {
              "description": "Number of current locations.",
              "example": 2,
              "type": "integer",
              "format": "int32"
            },
            "federalTaxId": {
              "description": "The Federal Tax ID is the business Tax Identification Number (TIN) or Employer Identification Number (EIN). If the business is a sole proprietor they may use the social security number of the sole proprietor.",
              "example": "123456789",
              "type": "string",
              "minLength": 9,
              "maxLength": 9,
              "pattern": "^[0-9]{9}$"
            },
            "paymentAcceptanceMethod": {
              "description": "The ways in which the business is accepting payments. Multiple options may be selected. 'In person', would be card present at a brick and mortar store, 'onlinesite' would be card not present use on an ecommerce website, and 'phoneormailorder' would be card not present used for mail and telephone orders.",
              "example": [
                "inPerson",
                "onlineSite"
              ],
              "type": "array",
              "items": {
                "title": "PaymentAcceptanceMethod",
                "type": "string",
                "enum": [
                  "inPerson",
                  "onlineSite",
                  "phoneOrMailOrder"
                ]
              }
            },
            "pciadc": {
              "title": "Pciadc",
              "description": "Indication if the merchant has had an account data compromise.",
              "example": "No",
              "type": "string",
              "enum": [
                "Yes",
                "No"
              ]
            },
            "pcidssValidated": {
              "title": "PcidssValidated",
              "description": "Indictor showing if the merchant is compliant or not with the Payment Card Industry Data Security Standards.",
              "example": "No",
              "type": "string",
              "enum": [
                "Yes",
                "No"
              ]
            },
            "surroundingArea": {
              "title": "SurroundingArea",
              "description": "Type of area surroundning the business.",
              "example": "Commercial",
              "type": "string",
              "enum": [
                "Commercial",
                "Industrial",
                "Residential"
              ]
            },
            "productServiceSold": {
              "description": "Type of goods or services sold.",
              "example": "Food",
              "type": "string",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "(^[-a-zA-Z0-9_ &()*+,./:;=_'‘]{1,40}$)"
            },
            "ownAddYears": {
              "description": "Years the business has been operating in their current location.",
              "example": 2,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 99.0,
              "format": "int32"
            },
            "lengthOfContract": {
              "description": "Inital contract term in months.",
              "type": "string",
              "pattern": "([0-9]{3})$"
            },
            "seasonal": {
              "title": "Seasonal",
              "description": "Does the business operate seasonally?",
              "example": "Yes",
              "type": "string",
              "enum": [
                "Yes",
                "No"
              ]
            },
            "activeMonths": {
              "description": "The months during which the business is actively operating.",
              "example": [
                "Jan",
                "Feb",
                "Mar"
              ],
              "type": "array",
              "items": {
                "title": "ActiveMonth",
                "type": "string",
                "enum": [
                  "Jan",
                  "Feb",
                  "Mar",
                  "Apr",
                  "May",
                  "Jun",
                  "Jul",
                  "Aug",
                  "Sep",
                  "Oct",
                  "Nov",
                  "Dec"
                ]
              }
            },
            "warranty": {
              "title": "Warranty",
              "description": "Does the business offer warranties, dues, subscriptions, memberships, or other extended services?",
              "example": "1 YEAR",
              "type": "string",
              "enum": [
                "1 YEAR",
                "30 DAY",
                "60 DAY",
                "90 DAY",
                "LIFETIME",
                "NO"
              ]
            },
            "returnPolicy": {
              "title": "ReturnPolicy",
              "description": "The business's return policy.",
              "example": "30 Day",
              "type": "string",
              "enum": [
                "3 Day",
                "30 Day",
                "60 Day",
                "60+ Day",
                "ALL SALES FINAL",
                "EXCHANGE ONLY/STORE CREDIT",
                "NO RETURN POLICY"
              ]
            },
            "taxExempt": {
              "title": "TaxExempt",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "acceptCreditCards": {
              "title": "AcceptCreditCards",
              "description": "Does the business accept credit cards?",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          "required": [
            "dbaName",
            "legalName",
            "ownershipType",
            "mccCode"
          ]
        },
        "transactionInfo": {
          "id": "TransactionInfo",
          "title": "TransactionInfo",
          "type": "object",
          "properties": {
            "annualSalesVolume": {
              "description": "Projected annual sales volume.",
              "example": 20000.12,
              "type": "number",
              "minimum": 0.0,
              "maximum": 9999999999999.99
            },
            "percentRetailSwipedTransactions": {
              "description": "Projected Percentage of daily card-present transactions.",
              "example": 82,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "averageTicket": {
              "description": "Average ticket dollar amount.",
              "example": 2.3,
              "type": "number",
              "minimum": 0.0,
              "maximum": 9999999.99
            },
            "highestTicket": {
              "description": "Highest ticket dollar amount.",
              "example": 32.41,
              "type": "number",
              "minimum": 0.0,
              "maximum": 9999999.99
            },
            "currentProcessor": {
              "description": "the current processor",
              "example": "Global Payments",
              "type": "string"
            },
            "acceptChargebacks": {
              "title": "AcceptChargebacks",
              "description": "Do you have more than 25 chargeback accepted in the last 12 months?",
              "example": "No",
              "type": "string",
              "enum": [
                "Yes",
                "No"
              ]
            },
            "chargebackPercent": {
              "description": "Projected chargeback percentage.\n\n```Required when acceptChargebacks is 'Yes'```\n\n```Optional when acceptChargebacks is null or 'No'.```",
              "example": 0,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "returnPercent": {
              "description": "Projected return percent of  goods sold",
              "example": 10,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "cardNotPresentPercent": {
              "description": "Percent of card not present transactions.",
              "example": 20,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "businessToBusinessPercent": {
              "description": "Percent of business-to-business transactions.",
              "example": 20,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "internetTransactionPercent": {
              "description": "Percent of internet transactions.",
              "example": 10,
              "type": "integer",
              "minimum": 0.0,
              "maximum": 100.0,
              "format": "int32"
            },
            "annualCreditSalesVolume": {
              "description": "Projected annual credit card sales volume.",
              "example": 123.32,
              "type": "number",
              "minimum": 0.0,
              "maximum": 999999999.99
            },
            "annualDebitSalesVolume": {
              "description": "Projected annual debit card sales volume.",
              "example": 32.23,
              "type": "number",
              "minimum": 0.0,
              "maximum": 999999999.99
            },
            "annualAmexVolume": {
              "description": "Projected annual Amex volume. ``` This field is required when you opt-in for Amex ```",
              "example": 10000,
              "type": "number",
              "minimum": 0.0,
              "maximum": 999999999.99
            },
            "amexAverageTicket": {
              "description": "AverageTicket dollar amount for Amex.\n ```This field is required when you opt-in for Amex```",
              "example": 2.3,
              "type": "number",
              "minimum": 0.0,
              "maximum": 9999999.99
            },
            "averageNumberofDays": {
              "description": "Average number of days from when cardholder is charged & when products or services are received IN FULL by cardholder.",
              "example": 10,
              "type": "integer",
              "minimum": 0.0,
              "format": "int32"
            }
          },
          "required": [
            "annualSalesVolume",
            "percentRetailSwipedTransactions"
          ]
        },
        "leadSource": {
          "description": "The source of a lead.",
          "example": "Activate",
          "type": "string",
          "maxLength": 12
        },
        "owners": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Owner",
            "title": "Owner",
            "description": "A Control Owner is required for the following ownership types > LLC, PARTNERSHIP, PRIVATE CORPORATION, ASSOCIATION/ESTATE/TRUST, NON-PROFIT",
            "example": {
              "type": "Control Owner Contact",
              "title": "Owner",
              "firstName": "Timothy",
              "middleInitial": "M",
              "lastName": "Jones",
              "phoneNumber": "1234567890",
              "phoneNumberExt": "1234",
              "faxNumber": "1234567890",
              "email": "test@test.com",
              "ownershipPercentage": 23,
              "ssn": "123456789",
              "dob": "2000-03-23",
              "addressLine1": "4355 N Coalwhipe St.",
              "city": "City Town",
              "state": "OH",
              "country": "United States",
              "postalCode": "80123",
              "postalCodeExtension": "1234"
            },
            "type": "object",
            "properties": {
              "type": {
                "title": "Type",
                "description": "The Owner Type. Please note the above Ownership Types where a Control Owner is required.",
                "type": "string",
                "enum": [
                  "Control Owner Contact",
                  "Owner 1 Contact",
                  "Owner 2 Contact",
                  "Owner 3 Contact",
                  "Owner 4 Contact"
                ]
              },
              "firstName": {
                "description": "First name. Region based validations will be applied to this field.",
                "example": "Todd",
                "type": "string",
                "minLength": 1,
                "maxLength": 15,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "lastName": {
                "description": "Last name. Region based validations will be applied to this field.",
                "example": "Davis",
                "type": "string",
                "minLength": 1,
                "maxLength": 25,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumber": {
                "description": "10-digit phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "email": {
                "description": "Email address of the contact. Must have @ and a .",
                "example": "test@gmail.com",
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
              },
              "addressLine1": {
                "description": "Address Line 1. Field for house number, street and direction.",
                "example": "4355 N Coalwhipe St.",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "city": {
                "example": "Denver",
                "type": "string",
                "minLength": 1,
                "maxLength": 28,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "state": {
                "title": "State",
                "description": "Valid US state, commonwealth, and territory codes are allowed.",
                "example": "CO",
                "type": "string",
                "enum": [
                  "AK",
                  "AL",
                  "AR",
                  "AS",
                  "AZ",
                  "CA",
                  "CO",
                  "CT",
                  "DC",
                  "DE",
                  "FL",
                  "FM",
                  "GA",
                  "GU",
                  "HI",
                  "IA",
                  "ID",
                  "IL",
                  "IN",
                  "KS",
                  "KY",
                  "LA",
                  "MA",
                  "MD",
                  "ME",
                  "MH",
                  "MI",
                  "MN",
                  "MO",
                  "MP",
                  "MS",
                  "MT",
                  "NC",
                  "ND",
                  "NE",
                  "NH",
                  "NJ",
                  "NM",
                  "NV",
                  "NY",
                  "OH",
                  "OK",
                  "OR",
                  "PA",
                  "PR",
                  "PW",
                  "RI",
                  "SC",
                  "SD",
                  "TN",
                  "TX",
                  "UT",
                  "VA",
                  "VI",
                  "VT",
                  "WA",
                  "WI",
                  "WV",
                  "WY"
                ]
              },
              "country": {
                "description": "Only United States is allowed.",
                "type": "string",
                "enum": [
                  "United States"
                ]
              },
              "postalCode": {
                "description": "Postal code / zip code. The postal code must be valid for the address' country code.",
                "example": "12345",
                "type": "string",
                "minLength": 5,
                "maxLength": 5,
                "pattern": "^[0-9]{5}$"
              },
              "title": {
                "description": "Required for AMEX acquired merchants otherwise optional.",
                "example": "President",
                "type": "string",
                "minLength": 1,
                "maxLength": 30,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "middleInitial": {
                "description": "Middle initial.",
                "example": "M",
                "type": "string",
                "minLength": 1,
                "maxLength": 1,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumberExt": {
                "description": "Phone number extension. Up to 8 digits of the format 12345678.",
                "example": "1234",
                "type": "string",
                "maxLength": 8,
                "pattern": "^[0-9]{1,8}$"
              },
              "phoneType": {
                "title": "PhoneType",
                "description": "Phone type.",
                "example": "mobile",
                "type": "string",
                "enum": [
                  "mobile",
                  "home"
                ]
              },
              "alternatePhone": {
                "description": "10-digit alternate phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "alternatePhoneType": {
                "title": "AlternatePhoneType",
                "description": "Alternate phone type.",
                "example": "home",
                "type": "string",
                "enum": [
                  "mobile",
                  "home"
                ]
              },
              "faxNumber": {
                "description": "10-digit fax number of the format 5131234567",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "ownershipPercentage": {
                "description": "Ownership stake percentage.",
                "type": "integer",
                "minimum": 0.0,
                "maximum": 100.0,
                "format": "int32"
              },
              "ssn": {
                "description": "Social security number. Do not include dashes.",
                "example": "123456789",
                "type": "string",
                "pattern": "^[0-9]{9}$"
              },
              "dob": {
                "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
                "example": "2000-03-23",
                "type": "string",
                "format": "date"
              },
              "addressLine2": {
                "description": "Address Line 2. Field for apartment or suite numbers, etc.",
                "example": "suite 104",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "postalCodeExtension": {
                "description": "Postal code / zip code extension.  The postal code extension must be valid for the address' country code.",
                "example": "1234",
                "type": "string",
                "minLength": 4,
                "maxLength": 4,
                "pattern": "^[0-9]{4}$"
              },
              "identification": {
                "description": "Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.",
                "type": "array",
                "items": {
                  "id": "Identification",
                  "title": "Identification",
                  "type": "object",
                  "properties": {
                    "idType": {
                      "title": "IdType",
                      "description": "Type of ID provided by the owner.",
                      "example": "PASSPORT",
                      "type": "string",
                      "enum": [
                        "ALIEN ID",
                        "CREDIT BUREAU",
                        "DRIVERS LICENSE",
                        "STATE ID",
                        "MEXICAN CONSULATE",
                        "MILITARY ID",
                        "OTHER",
                        "PASSPORT"
                      ]
                    },
                    "idNumber": {
                      "description": "Owner's ID number.",
                      "example": "312312341",
                      "type": "string",
                      "maxLength": 40
                    },
                    "issuedCity": {
                      "description": "City in which ID was issued.",
                      "example": "City Town",
                      "type": "string",
                      "maxLength": 28
                    },
                    "issuedState": {
                      "title": "IssuedState",
                      "description": "Valid state code where ID was issued.",
                      "example": "CO",
                      "type": "string",
                      "maxLength": 2,
                      "enum": [
                        "AK",
                        "AL",
                        "AR",
                        "AS",
                        "AZ",
                        "CA",
                        "CO",
                        "CT",
                        "DC",
                        "DE",
                        "FL",
                        "FM",
                        "GA",
                        "GU",
                        "HI",
                        "IA",
                        "ID",
                        "IL",
                        "IN",
                        "KS",
                        "KY",
                        "LA",
                        "MA",
                        "MD",
                        "ME",
                        "MH",
                        "MI",
                        "MN",
                        "MO",
                        "MP",
                        "MS",
                        "MT",
                        "NC",
                        "ND",
                        "NE",
                        "NH",
                        "NJ",
                        "NM",
                        "NV",
                        "NY",
                        "OH",
                        "OK",
                        "OR",
                        "PA",
                        "PR",
                        "PW",
                        "RI",
                        "SC",
                        "SD",
                        "TN",
                        "TX",
                        "UT",
                        "VA",
                        "VI",
                        "VT",
                        "WA",
                        "WI",
                        "WV",
                        "WY"
                      ]
                    },
                    "issuedCountry": {
                      "description": "Country where ID was issued.",
                      "example": "US",
                      "type": "string",
                      "maxLength": 2
                    },
                    "dateIssued": {
                      "description": "Date ID was issued (CCYY-MM-DD).",
                      "example": "1999-01-30",
                      "type": "string",
                      "format": "date"
                    },
                    "dateExpires": {
                      "description": "Date ID expires (CCYY-MM-DD).",
                      "example": "2020-02-11",
                      "type": "string",
                      "format": "date"
                    }
                  },
                  "required": [
                    "idType",
                    "idNumber"
                  ]
                }
              }
            },
            "required": [
              "type",
              "firstName",
              "lastName",
              "phoneNumber",
              "email",
              "addressLine1",
              "city",
              "state",
              "country",
              "postalCode"
            ]
          }
        },
        "guarantors": {
          "description": "Guarantor information. A guarantor is the person whose credit report will be pulled during the underwriting process.",
          "type": "array",
          "items": {
            "id": "Guarantor",
            "title": "Guarantor",
            "type": "object",
            "properties": {
              "type": {
                "example": "Guarantor 1 Contact",
                "type": "string",
                "enum": [
                  "Guarantor 1 Contact"
                ]
              },
              "firstName": {
                "description": "First name. Region based validations will be applied to this field.",
                "example": "Todd",
                "type": "string",
                "minLength": 1,
                "maxLength": 15,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "lastName": {
                "description": "Last name. Region based validations will be applied to this field.",
                "example": "Davis",
                "type": "string",
                "minLength": 1,
                "maxLength": 25,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumber": {
                "description": "10-digit phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "email": {
                "description": "Email address of the contact. Must have @ and a .",
                "example": "test@gmail.com",
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
              },
              "addressLine1": {
                "description": "Address Line 1. Field for house number, street and direction.",
                "example": "4355 N Coalwhipe St.",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "city": {
                "example": "Denver",
                "type": "string",
                "minLength": 1,
                "maxLength": 28,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "state": {
                "$ref": "Owner#/properties/state"
              },
              "country": {
                "description": "Only United States is allowed.",
                "type": "string",
                "enum": [
                  "United States"
                ]
              },
              "postalCode": {
                "description": "Postal code / zip code. The postal code must be valid for the address' country code.",
                "example": "12345",
                "type": "string",
                "minLength": 5,
                "maxLength": 5,
                "pattern": "^[0-9]{5}$"
              },
              "title": {
                "description": "Required for AMEX acquired merchants otherwise optional.",
                "example": "President",
                "type": "string",
                "minLength": 1,
                "maxLength": 30,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "middleInitial": {
                "description": "Middle initial.",
                "example": "M",
                "type": "string",
                "minLength": 1,
                "maxLength": 1,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumberExt": {
                "description": "Phone number extension. Up to 8 digits of the format 12345678.",
                "example": "1234",
                "type": "string",
                "maxLength": 8,
                "pattern": "^[0-9]{1,8}$"
              },
              "phoneType": {
                "$ref": "Owner#/properties/phoneType"
              },
              "alternatePhone": {
                "description": "10-digit alternate phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "alternatePhoneType": {
                "$ref": "Owner#/properties/alternatePhoneType"
              },
              "faxNumber": {
                "description": "10-digit fax number of the format 5131234567",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "ownershipPercentage": {
                "description": "Ownership stake percentage.",
                "type": "integer",
                "minimum": 0.0,
                "maximum": 100.0,
                "format": "int32"
              },
              "ssn": {
                "description": "Social security number. Do not include dashes.",
                "example": "123456789",
                "type": "string",
                "pattern": "^[0-9]{9}$"
              },
              "dob": {
                "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
                "example": "2000-03-23",
                "type": "string",
                "format": "date"
              },
              "addressLine2": {
                "description": "Address Line 2. Field for apartment or suite numbers, etc.",
                "example": "suite 104",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "postalCodeExtension": {
                "description": "Postal code / zip code extension.  The postal code extension must be valid for the address' country code.",
                "example": "1234",
                "type": "string",
                "minLength": 4,
                "maxLength": 4,
                "pattern": "^[0-9]{4}$"
              },
              "identification": {
                "description": "Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.",
                "type": "array",
                "items": {
                  "$ref": "Identification"
                }
              }
            },
            "required": [
              "type",
              "firstName",
              "lastName",
              "phoneNumber",
              "email",
              "addressLine1",
              "city",
              "state",
              "country",
              "postalCode"
            ]
          },
          "uniqueItems": true
        },
        "authorizedSigners": {
          "description": "",
          "type": "array",
          "items": {
            "id": "AuthorizedSigner",
            "title": "AuthorizedSigner",
            "type": "object",
            "properties": {
              "roleName": {
                "title": "RoleName",
                "description": "The role of the signer. Please note the below.\n\n 1) Merchant role name is mandatory.\n 2) Required fields indicated in schema are those required for all role names other than \"SalesRep\"\n 3) The \"SalesRep\" role name only requires the following fields > roleName, signingExperience, signingOrder, firstName, lastName, email\n 4) The \"Signer2\" role name is for a Personal Guarantor. This signer must be included if a Personal Guarantor is on the application. Include the Guarnator's information in this object.",
                "example": "Merchant",
                "type": "string",
                "enum": [
                  "SalesRep",
                  "Merchant",
                  "Reviewer",
                  "Signer2",
                  "Signer3",
                  "Signer4",
                  "Signer5",
                  "Signer6",
                  "Signer7",
                  "Signer8"
                ]
              },
              "signingExperience": {
                "title": "SigningExperience",
                "description": "Signing ceremony type",
                "example": "email",
                "type": "string",
                "enum": [
                  "embed",
                  "email",
                  "wet"
                ]
              },
              "signingOrder": {
                "description": "Define the signing order for multiple signers",
                "example": "2",
                "type": "string"
              },
              "firstName": {
                "description": "First name. Region based validations will be applied to this field.",
                "example": "Todd",
                "type": "string",
                "minLength": 1,
                "maxLength": 15,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "lastName": {
                "description": "Last name. Region based validations will be applied to this field.",
                "example": "Davis",
                "type": "string",
                "minLength": 1,
                "maxLength": 25,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumber": {
                "description": "10-digit phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "email": {
                "description": "Email address of the contact. Must have @ and a .",
                "example": "test@gmail.com",
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
              },
              "ssn": {
                "description": "Social security number. Do not include dashes.",
                "example": "123456789",
                "type": "string",
                "pattern": "^[0-9]{9}$"
              },
              "dob": {
                "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
                "example": "2000-03-23",
                "type": "string",
                "format": "date"
              },
              "addressLine1": {
                "description": "Address Line 1. Field for house number, street and direction.",
                "example": "4355 N Coalwhipe St.",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "city": {
                "example": "Denver",
                "type": "string",
                "minLength": 1,
                "maxLength": 28,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "state": {
                "$ref": "Owner#/properties/state"
              },
              "country": {
                "description": "Only United States is allowed.",
                "type": "string",
                "enum": [
                  "United States"
                ]
              },
              "postalCode": {
                "description": "Postal code / zip code. The postal code must be valid for the address' country code.",
                "example": "12345",
                "type": "string",
                "minLength": 5,
                "maxLength": 5,
                "pattern": "^[0-9]{5}$"
              },
              "title": {
                "description": "Required for AMEX acquired merchants otherwise optional.",
                "example": "President",
                "type": "string",
                "minLength": 1,
                "maxLength": 30,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "middleInitial": {
                "description": "Middle initial.",
                "example": "M",
                "type": "string",
                "minLength": 1,
                "maxLength": 1,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumberExt": {
                "description": "Phone number extension. Up to 8 digits of the format 12345678.",
                "example": "1234",
                "type": "string",
                "maxLength": 8,
                "pattern": "^[0-9]{1,8}$"
              },
              "phoneType": {
                "$ref": "Owner#/properties/phoneType"
              },
              "alternatePhone": {
                "description": "10-digit alternate phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "alternatePhoneType": {
                "$ref": "Owner#/properties/alternatePhoneType"
              },
              "faxNumber": {
                "description": "10-digit fax number of the format 5131234567",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "addressLine2": {
                "description": "Address Line 2. Field for apartment or suite numbers, etc.",
                "example": "suite 104",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "postalCodeExtension": {
                "description": "Postal code / zip code extension.  The postal code extension must be valid for the address' country code.",
                "example": "1234",
                "type": "string",
                "minLength": 4,
                "maxLength": 4,
                "pattern": "^[0-9]{4}$"
              },
              "identification": {
                "description": "Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.",
                "type": "array",
                "items": {
                  "$ref": "Identification"
                }
              }
            },
            "required": [
              "roleName",
              "signingExperience",
              "signingOrder",
              "firstName",
              "lastName",
              "phoneNumber",
              "email",
              "ssn",
              "dob",
              "addressLine1",
              "city",
              "state",
              "country",
              "postalCode"
            ]
          }
        },
        "contacts": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Contact",
            "title": "Contact",
            "type": "object",
            "properties": {
              "type": {
                "title": "Type1",
                "description": "Type of merchant contact.   \n 1) Only primary contact\n      is mandatory. May be the same as any owner contact information. \n 2) For primary contact, firstName, lastName, phoneNumber and email are mandatory during POST.  \n 3) For all other contact types, firstName and lastName are mandatory during POST.",
                "example": "Primary Contact",
                "type": "string",
                "enum": [
                  "Primary Contact",
                  "Accounting Contact",
                  "Customer Service Contact",
                  "Shipping Contact",
                  "Third Party Contact",
                  "Vendor Contact Info",
                  "PCI Contact",
                  "Corporate"
                ]
              },
              "firstName": {
                "description": "First name. Region based validations will be applied to this field.",
                "example": "Todd",
                "type": "string",
                "minLength": 1,
                "maxLength": 15,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "lastName": {
                "description": "Last name. Region based validations will be applied to this field.",
                "example": "Davis",
                "type": "string",
                "minLength": 1,
                "maxLength": 25,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "phoneNumber": {
                "description": "10-digit phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "email": {
                "description": "Email address of the contact. Must have @ and a .",
                "example": "test@gmail.com",
                "type": "string",
                "minLength": 1,
                "maxLength": 64,
                "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
              },
              "title": {
                "description": "Required for AMEX acquired merchants otherwise optional.",
                "example": "President",
                "type": "string",
                "minLength": 1,
                "maxLength": 30,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "middleInitial": {
                "description": "Middle initial.",
                "example": "M",
                "type": "string",
                "minLength": 1,
                "maxLength": 1,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "ssn": {
                "description": "Social security number. Do not include dashes.",
                "example": "123456789",
                "type": "string",
                "pattern": "^[0-9]{9}$"
              },
              "birthDate": {
                "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
                "example": "2000-03-23",
                "type": "string",
                "format": "date"
              },
              "phoneNumberExt": {
                "description": "Phone number extension. Up to 8 digits of the format 12345678.",
                "example": "1234",
                "type": "string",
                "maxLength": 8,
                "pattern": "^[0-9]{1,8}$"
              },
              "phoneType": {
                "$ref": "Owner#/properties/phoneType"
              },
              "alternatePhone": {
                "description": "10-digit alternate phone number of the format  5131234567.",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              },
              "alternatePhoneType": {
                "$ref": "Owner#/properties/alternatePhoneType"
              },
              "faxNumber": {
                "description": "10-digit fax number of the format 5131234567",
                "example": "5131234567",
                "type": "string",
                "pattern": "^[0-9]{10}$"
              }
            },
            "required": [
              "type",
              "firstName",
              "lastName",
              "phoneNumber",
              "email"
            ]
          },
          "uniqueItems": true
        },
        "addresses": {
          "description": "",
          "example": [
            {
              "type": "Mailing Address",
              "addressLine1": "1234 W Tester Ave.",
              "city": "City Town",
              "state": "CO",
              "country": "United States",
              "postalCode": "80123",
              "postalCodeExtension": "1234"
            },
            {
              "type": "Physical Address",
              "addressLine1": "1234 W Tester Ave.",
              "city": "City Town",
              "state": "CO",
              "country": "United States",
              "postalCode": "80123",
              "postalCodeExtension": "1234"
            }
          ],
          "type": "array",
          "items": {
            "id": "Address",
            "title": "Address",
            "type": "object",
            "properties": {
              "type": {
                "title": "AddressType",
                "description": "Address Type  \n 1) Physical address is mandatory.\n 2) If equipment needs to be sent to a different location than the physical address, then shipping address should be added.\n3) For any address type, addressLine1, city, state, postalCode and country are mandatory.",
                "example": "Physical Address",
                "type": "string",
                "enum": [
                  "Mailing Address",
                  "Physical Address",
                  "Shipping Address"
                ]
              },
              "addressLine1": {
                "description": "Address Line 1. Field for house number, street and direction.",
                "example": "4355 N Coalwhipe St.",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "city": {
                "example": "Denver",
                "type": "string",
                "minLength": 1,
                "maxLength": 28,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "state": {
                "$ref": "Owner#/properties/state"
              },
              "country": {
                "description": "Only United States is allowed.",
                "type": "string",
                "enum": [
                  "United States"
                ]
              },
              "postalCode": {
                "description": "Postal code / zip code. The postal code must be valid for the address' country code.",
                "example": "12345",
                "type": "string",
                "minLength": 5,
                "maxLength": 5,
                "pattern": "^[0-9]{5}$"
              },
              "addressLine2": {
                "description": "Address Line 2. Field for apartment or suite numbers, etc.",
                "example": "suite 104",
                "type": "string",
                "minLength": 1,
                "maxLength": 40,
                "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
              },
              "postalCodeExtension": {
                "description": "Postal code / zip code extension.  The postal code extension must be valid for the address' country code.",
                "example": "1234",
                "type": "string",
                "minLength": 4,
                "maxLength": 4,
                "pattern": "^[0-9]{4}$"
              }
            },
            "required": [
              "type",
              "addressLine1",
              "city",
              "state",
              "country",
              "postalCode"
            ]
          },
          "uniqueItems": true
        },
        "bankAccount": {
          "id": "BankAccount",
          "title": "BankAccount",
          "type": "object",
          "properties": {
            "ddaType": {
              "title": "DdaType",
              "description": "Direct deposit account type.",
              "example": "Checking",
              "type": "string",
              "enum": [
                "Checking",
                "Savings"
              ]
            },
            "achType": {
              "title": "AchType",
              "description": "Check deposit type",
              "example": "Commercial Checking",
              "type": "string",
              "enum": [
                "Commercial Checking",
                "Private Checking"
              ]
            },
            "accountNumber": {
              "description": "Direct deposit account number.  Maximum 17 characters.",
              "example": "011401545",
              "type": "string",
              "minLength": 1,
              "maxLength": 17
            },
            "routingNumber": {
              "description": "Bank routing number. Must be 9 characters and pass ACH Mod-10 validation.",
              "example": "102000076",
              "type": "string",
              "minLength": 9,
              "maxLength": 9
            },
            "bankName": {
              "description": "Bank name used for credit card processing services.",
              "example": "Bank name",
              "type": "string"
            }
          }
        },
        "salesAgent": {
          "id": "SalesAgent",
          "title": "SalesAgent",
          "description": "The agent who is submitting the deal.",
          "type": "object",
          "properties": {
            "firstName": {
              "description": "Sales agent's first name.",
              "example": "John",
              "type": "string",
              "minLength": 1,
              "maxLength": 15
            },
            "lastName": {
              "description": "Sales agent's last name.",
              "example": "Doe",
              "type": "string",
              "minLength": 1,
              "maxLength": 25
            },
            "email": {
              "description": "Sales agent's email address.  Must have @ and a .",
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "(\\\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\\\.)+[A-Za-z0-9]{2,}\\\\b{0,64})"
            },
            "id": {
              "description": "Id for the Sales Contact.",
              "example": "U15315",
              "type": "string",
              "minLength": 1,
              "maxLength": 15
            },
            "mobilePhoneNumber": {
              "description": "Sales agent's 10-digit phone number of the format 5131234567.",
              "example": "1234567890",
              "type": "string",
              "pattern": "^[0-9]{10}$"
            }
          },
          "required": [
            "firstName",
            "lastName",
            "email"
          ]
        },
        "installationContact": {
          "id": "InstallationContact",
          "title": "InstallationContact",
          "description": "The Technical Agent who is going to do setup.",
          "type": "object",
          "properties": {
            "firstName": {
              "description": "Contact's first name.",
              "example": "Sam",
              "type": "string",
              "minLength": 1,
              "maxLength": 15,
              "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
            },
            "lastName": {
              "description": "Contact's last name.",
              "example": "Doe",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
            },
            "email": {
              "description": "Contact's email address. Must have @ and a .",
              "type": "string",
              "minLength": 1,
              "maxLength": 64,
              "pattern": "(\\\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\\\.)+[A-Za-z0-9]{2,}\\\\b{0,64})"
            },
            "id": {
              "description": "Id for Technical Contact",
              "example": "U15318",
              "type": "string",
              "minLength": 1,
              "maxLength": 15,
              "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
            },
            "mobilePhoneNumber": {
              "description": "Contact's 10-digit phone number of the format 5131234567.",
              "example": "1234567890",
              "type": "string",
              "minLength": 10,
              "maxLength": 10,
              "pattern": "([0-9]{10})$"
            }
          },
          "required": [
            "firstName",
            "lastName",
            "email"
          ]
        },
        "routeToSalesRep": {
          "description": "Used to route a application to a worldpay or partner sales rep. By default the API is configured to route to a Worldpay sales rep. If you would like to route to partner (Launchpad UI) please work with your implementation consultant.",
          "example": false,
          "type": "boolean"
        }
      },
      "required": [
        "externalRefId",
        "businessInfo",
        "transactionInfo"
      ]
    }
- BusinessInfo: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BusinessInfo",
      "title": "BusinessInfo",
      "type": "object",
      "properties": {
        "dbaName": {
          "description": "The merchant name they do business as.  Generally with what their customers know the business.",
          "example": "The DBA Name",
          "type": "string",
          "minLength": 1,
          "maxLength": 50
        },
        "legalName": {
          "description": "Business Legal Name as filed with the IRS.",
          "example": "Timothy Jones",
          "type": "string",
          "minLength": 1,
          "maxLength": 50
        },
        "ownershipType": {
          "title": "OwnershipType",
          "description": "Required. OwnershipType defines the type of the Merchant Organization, and drives the requirements for data collections of beneficial and control owners under U.S. Financial Crimes Enforcement Network (FinCEN).",
          "example": "LLC",
          "type": "string",
          "enum": [
            "GOVERNMENT",
            "SOLE PROPRIETOR",
            "LLC",
            "PARTNERSHIP",
            "FIN INSTITUTION",
            "NON-PROFIT",
            "ASSOCIATION/ESTATE/TRUST",
            "PRIVATE CORPORATION",
            "SEC REGISTERED",
            "PUBLIC CORPORATION",
            "OTHER"
          ]
        },
        "mccCode": {
          "description": "SIC Code / MCC Code (Merchant Category Code) is the code use to describe what the merchant is selling. Use MCC look up call to search valid codes, with sort and long description to find the MCC that most closely matches what the merchant is selling.",
          "example": "5812",
          "type": "string",
          "minLength": 4,
          "maxLength": 4
        },
        "businessEstablishedDate": {
          "description": "Date (CCYY-MM-DD) on which the merchant's business was established.",
          "example": "2000-03-23",
          "type": "string",
          "format": "date"
        },
        "websiteUrl": {
          "description": "The URL of the merchant's website.",
          "example": "www.thefoodplace.com",
          "type": "string",
          "minLength": 0,
          "maxLength": 80
        },
        "numberOfLocation": {
          "description": "Number of current locations.",
          "example": 2,
          "type": "integer",
          "format": "int32"
        },
        "federalTaxId": {
          "description": "The Federal Tax ID is the business Tax Identification Number (TIN) or Employer Identification Number (EIN). If the business is a sole proprietor they may use the social security number of the sole proprietor.",
          "example": "123456789",
          "type": "string",
          "minLength": 9,
          "maxLength": 9,
          "pattern": "^[0-9]{9}$"
        },
        "paymentAcceptanceMethod": {
          "description": "The ways in which the business is accepting payments. Multiple options may be selected. 'In person', would be card present at a brick and mortar store, 'onlinesite' would be card not present use on an ecommerce website, and 'phoneormailorder' would be card not present used for mail and telephone orders.",
          "example": [
            "inPerson",
            "onlineSite"
          ],
          "type": "array",
          "items": {
            "title": "PaymentAcceptanceMethod",
            "type": "string",
            "enum": [
              "inPerson",
              "onlineSite",
              "phoneOrMailOrder"
            ]
          }
        },
        "pciadc": {
          "title": "Pciadc",
          "description": "Indication if the merchant has had an account data compromise.",
          "example": "No",
          "type": "string",
          "enum": [
            "Yes",
            "No"
          ]
        },
        "pcidssValidated": {
          "title": "PcidssValidated",
          "description": "Indictor showing if the merchant is compliant or not with the Payment Card Industry Data Security Standards.",
          "example": "No",
          "type": "string",
          "enum": [
            "Yes",
            "No"
          ]
        },
        "surroundingArea": {
          "title": "SurroundingArea",
          "description": "Type of area surroundning the business.",
          "example": "Commercial",
          "type": "string",
          "enum": [
            "Commercial",
            "Industrial",
            "Residential"
          ]
        },
        "productServiceSold": {
          "description": "Type of goods or services sold.",
          "example": "Food",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "pattern": "(^[-a-zA-Z0-9_ &()*+,./:;=_'‘]{1,40}$)"
        },
        "ownAddYears": {
          "description": "Years the business has been operating in their current location.",
          "example": 2,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 99.0,
          "format": "int32"
        },
        "lengthOfContract": {
          "description": "Inital contract term in months.",
          "type": "string",
          "pattern": "([0-9]{3})$"
        },
        "seasonal": {
          "title": "Seasonal",
          "description": "Does the business operate seasonally?",
          "example": "Yes",
          "type": "string",
          "enum": [
            "Yes",
            "No"
          ]
        },
        "activeMonths": {
          "description": "The months during which the business is actively operating.",
          "example": [
            "Jan",
            "Feb",
            "Mar"
          ],
          "type": "array",
          "items": {
            "title": "ActiveMonth",
            "type": "string",
            "enum": [
              "Jan",
              "Feb",
              "Mar",
              "Apr",
              "May",
              "Jun",
              "Jul",
              "Aug",
              "Sep",
              "Oct",
              "Nov",
              "Dec"
            ]
          }
        },
        "warranty": {
          "title": "Warranty",
          "description": "Does the business offer warranties, dues, subscriptions, memberships, or other extended services?",
          "example": "1 YEAR",
          "type": "string",
          "enum": [
            "1 YEAR",
            "30 DAY",
            "60 DAY",
            "90 DAY",
            "LIFETIME",
            "NO"
          ]
        },
        "returnPolicy": {
          "title": "ReturnPolicy",
          "description": "The business's return policy.",
          "example": "30 Day",
          "type": "string",
          "enum": [
            "3 Day",
            "30 Day",
            "60 Day",
            "60+ Day",
            "ALL SALES FINAL",
            "EXCHANGE ONLY/STORE CREDIT",
            "NO RETURN POLICY"
          ]
        },
        "taxExempt": {
          "title": "TaxExempt",
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        },
        "acceptCreditCards": {
          "title": "AcceptCreditCards",
          "description": "Does the business accept credit cards?",
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        }
      },
      "required": [
        "dbaName",
        "legalName",
        "ownershipType",
        "mccCode"
      ]
    }
- TransactionInfo: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "TransactionInfo",
      "title": "TransactionInfo",
      "type": "object",
      "properties": {
        "annualSalesVolume": {
          "description": "Projected annual sales volume.",
          "example": 20000.12,
          "type": "number",
          "minimum": 0.0,
          "maximum": 9999999999999.99
        },
        "percentRetailSwipedTransactions": {
          "description": "Projected Percentage of daily card-present transactions.",
          "example": 82,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "averageTicket": {
          "description": "Average ticket dollar amount.",
          "example": 2.3,
          "type": "number",
          "minimum": 0.0,
          "maximum": 9999999.99
        },
        "highestTicket": {
          "description": "Highest ticket dollar amount.",
          "example": 32.41,
          "type": "number",
          "minimum": 0.0,
          "maximum": 9999999.99
        },
        "currentProcessor": {
          "description": "the current processor",
          "example": "Global Payments",
          "type": "string"
        },
        "acceptChargebacks": {
          "title": "AcceptChargebacks",
          "description": "Do you have more than 25 chargeback accepted in the last 12 months?",
          "example": "No",
          "type": "string",
          "enum": [
            "Yes",
            "No"
          ]
        },
        "chargebackPercent": {
          "description": "Projected chargeback percentage.\n\n```Required when acceptChargebacks is 'Yes'```\n\n```Optional when acceptChargebacks is null or 'No'.```",
          "example": 0,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "returnPercent": {
          "description": "Projected return percent of  goods sold",
          "example": 10,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "cardNotPresentPercent": {
          "description": "Percent of card not present transactions.",
          "example": 20,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "businessToBusinessPercent": {
          "description": "Percent of business-to-business transactions.",
          "example": 20,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "internetTransactionPercent": {
          "description": "Percent of internet transactions.",
          "example": 10,
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "annualCreditSalesVolume": {
          "description": "Projected annual credit card sales volume.",
          "example": 123.32,
          "type": "number",
          "minimum": 0.0,
          "maximum": 999999999.99
        },
        "annualDebitSalesVolume": {
          "description": "Projected annual debit card sales volume.",
          "example": 32.23,
          "type": "number",
          "minimum": 0.0,
          "maximum": 999999999.99
        },
        "annualAmexVolume": {
          "description": "Projected annual Amex volume. ``` This field is required when you opt-in for Amex ```",
          "example": 10000,
          "type": "number",
          "minimum": 0.0,
          "maximum": 999999999.99
        },
        "amexAverageTicket": {
          "description": "AverageTicket dollar amount for Amex.\n ```This field is required when you opt-in for Amex```",
          "example": 2.3,
          "type": "number",
          "minimum": 0.0,
          "maximum": 9999999.99
        },
        "averageNumberofDays": {
          "description": "Average number of days from when cardholder is charged & when products or services are received IN FULL by cardholder.",
          "example": 10,
          "type": "integer",
          "minimum": 0.0,
          "format": "int32"
        }
      },
      "required": [
        "annualSalesVolume",
        "percentRetailSwipedTransactions"
      ]
    }
- Owner: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Owner",
      "title": "Owner",
      "description": "A Control Owner is required for the following ownership types > LLC, PARTNERSHIP, PRIVATE CORPORATION, ASSOCIATION/ESTATE/TRUST, NON-PROFIT",
      "example": {
        "type": "Control Owner Contact",
        "title": "Owner",
        "firstName": "Timothy",
        "middleInitial": "M",
        "lastName": "Jones",
        "phoneNumber": "1234567890",
        "phoneNumberExt": "1234",
        "faxNumber": "1234567890",
        "email": "test@test.com",
        "ownershipPercentage": 23,
        "ssn": "123456789",
        "dob": "2000-03-23",
        "addressLine1": "4355 N Coalwhipe St.",
        "city": "City Town",
        "state": "OH",
        "country": "United States",
        "postalCode": "80123",
        "postalCodeExtension": "1234"
      },
      "type": "object",
      "properties": {
        "type": {
          "title": "Type",
          "description": "The Owner Type. Please note the above Ownership Types where a Control Owner is required.",
          "type": "string",
          "enum": [
            "Control Owner Contact",
            "Owner 1 Contact",
            "Owner 2 Contact",
            "Owner 3 Contact",
            "Owner 4 Contact"
          ]
        },
        "firstName": {
          "description": "First name. Region based validations will be applied to this field.",
          "example": "Todd",
          "type": "string",
          "minLength": 1,
          "maxLength": 15,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "lastName": {
          "description": "Last name. Region based validations will be applied to this field.",
          "example": "Davis",
          "type": "string",
          "minLength": 1,
          "maxLength": 25,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "phoneNumber": {
          "description": "10-digit phone number of the format  5131234567.",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "email": {
          "description": "Email address of the contact. Must have @ and a .",
          "example": "test@gmail.com",
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
        },
        "addressLine1": {
          "description": "Address Line 1. Field for house number, street and direction.",
          "example": "4355 N Coalwhipe St.",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "city": {
          "example": "Denver",
          "type": "string",
          "minLength": 1,
          "maxLength": 28,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "state": {
          "title": "State",
          "description": "Valid US state, commonwealth, and territory codes are allowed.",
          "example": "CO",
          "type": "string",
          "enum": [
            "AK",
            "AL",
            "AR",
            "AS",
            "AZ",
            "CA",
            "CO",
            "CT",
            "DC",
            "DE",
            "FL",
            "FM",
            "GA",
            "GU",
            "HI",
            "IA",
            "ID",
            "IL",
            "IN",
            "KS",
            "KY",
            "LA",
            "MA",
            "MD",
            "ME",
            "MH",
            "MI",
            "MN",
            "MO",
            "MP",
            "MS",
            "MT",
            "NC",
            "ND",
            "NE",
            "NH",
            "NJ",
            "NM",
            "NV",
            "NY",
            "OH",
            "OK",
            "OR",
            "PA",
            "PR",
            "PW",
            "RI",
            "SC",
            "SD",
            "TN",
            "TX",
            "UT",
            "VA",
            "VI",
            "VT",
            "WA",
            "WI",
            "WV",
            "WY"
          ]
        },
        "country": {
          "description": "Only United States is allowed.",
          "type": "string",
          "enum": [
            "United States"
          ]
        },
        "postalCode": {
          "description": "Postal code / zip code. The postal code must be valid for the address' country code.",
          "example": "12345",
          "type": "string",
          "minLength": 5,
          "maxLength": 5,
          "pattern": "^[0-9]{5}$"
        },
        "title": {
          "description": "Required for AMEX acquired merchants otherwise optional.",
          "example": "President",
          "type": "string",
          "minLength": 1,
          "maxLength": 30,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "middleInitial": {
          "description": "Middle initial.",
          "example": "M",
          "type": "string",
          "minLength": 1,
          "maxLength": 1,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "phoneNumberExt": {
          "description": "Phone number extension. Up to 8 digits of the format 12345678.",
          "example": "1234",
          "type": "string",
          "maxLength": 8,
          "pattern": "^[0-9]{1,8}$"
        },
        "phoneType": {
          "title": "PhoneType",
          "description": "Phone type.",
          "example": "mobile",
          "type": "string",
          "enum": [
            "mobile",
            "home"
          ]
        },
        "alternatePhone": {
          "description": "10-digit alternate phone number of the format  5131234567.",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "alternatePhoneType": {
          "title": "AlternatePhoneType",
          "description": "Alternate phone type.",
          "example": "home",
          "type": "string",
          "enum": [
            "mobile",
            "home"
          ]
        },
        "faxNumber": {
          "description": "10-digit fax number of the format 5131234567",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "ownershipPercentage": {
          "description": "Ownership stake percentage.",
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "ssn": {
          "description": "Social security number. Do not include dashes.",
          "example": "123456789",
          "type": "string",
          "pattern": "^[0-9]{9}$"
        },
        "dob": {
          "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
          "example": "2000-03-23",
          "type": "string",
          "format": "date"
        },
        "addressLine2": {
          "description": "Address Line 2. Field for apartment or suite numbers, etc.",
          "example": "suite 104",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "postalCodeExtension": {
          "description": "Postal code / zip code extension.  The postal code extension must be valid for the address' country code.",
          "example": "1234",
          "type": "string",
          "minLength": 4,
          "maxLength": 4,
          "pattern": "^[0-9]{4}$"
        },
        "identification": {
          "description": "Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.",
          "type": "array",
          "items": {
            "id": "Identification",
            "title": "Identification",
            "type": "object",
            "properties": {
              "idType": {
                "title": "IdType",
                "description": "Type of ID provided by the owner.",
                "example": "PASSPORT",
                "type": "string",
                "enum": [
                  "ALIEN ID",
                  "CREDIT BUREAU",
                  "DRIVERS LICENSE",
                  "STATE ID",
                  "MEXICAN CONSULATE",
                  "MILITARY ID",
                  "OTHER",
                  "PASSPORT"
                ]
              },
              "idNumber": {
                "description": "Owner's ID number.",
                "example": "312312341",
                "type": "string",
                "maxLength": 40
              },
              "issuedCity": {
                "description": "City in which ID was issued.",
                "example": "City Town",
                "type": "string",
                "maxLength": 28
              },
              "issuedState": {
                "title": "IssuedState",
                "description": "Valid state code where ID was issued.",
                "example": "CO",
                "type": "string",
                "maxLength": 2,
                "enum": [
                  "AK",
                  "AL",
                  "AR",
                  "AS",
                  "AZ",
                  "CA",
                  "CO",
                  "CT",
                  "DC",
                  "DE",
                  "FL",
                  "FM",
                  "GA",
                  "GU",
                  "HI",
                  "IA",
                  "ID",
                  "IL",
                  "IN",
                  "KS",
                  "KY",
                  "LA",
                  "MA",
                  "MD",
                  "ME",
                  "MH",
                  "MI",
                  "MN",
                  "MO",
                  "MP",
                  "MS",
                  "MT",
                  "NC",
                  "ND",
                  "NE",
                  "NH",
                  "NJ",
                  "NM",
                  "NV",
                  "NY",
                  "OH",
                  "OK",
                  "OR",
                  "PA",
                  "PR",
                  "PW",
                  "RI",
                  "SC",
                  "SD",
                  "TN",
                  "TX",
                  "UT",
                  "VA",
                  "VI",
                  "VT",
                  "WA",
                  "WI",
                  "WV",
                  "WY"
                ]
              },
              "issuedCountry": {
                "description": "Country where ID was issued.",
                "example": "US",
                "type": "string",
                "maxLength": 2
              },
              "dateIssued": {
                "description": "Date ID was issued (CCYY-MM-DD).",
                "example": "1999-01-30",
                "type": "string",
                "format": "date"
              },
              "dateExpires": {
                "description": "Date ID expires (CCYY-MM-DD).",
                "example": "2020-02-11",
                "type": "string",
                "format": "date"
              }
            },
            "required": [
              "idType",
              "idNumber"
            ]
          }
        }
      },
      "required": [
        "type",
        "firstName",
        "lastName",
        "phoneNumber",
        "email",
        "addressLine1",
        "city",
        "state",
        "country",
        "postalCode"
      ]
    }
- PhoneType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "PhoneType",
      "description": "Phone type.",
      "example": "mobile",
      "type": "string",
      "enum": [
        "mobile",
        "home"
      ]
    }
- AlternatePhoneType: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "AlternatePhoneType",
      "description": "Alternate phone type.",
      "example": "home",
      "type": "string",
      "enum": [
        "mobile",
        "home"
      ]
    }
- State: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "State",
      "description": "Valid US state, commonwealth, and territory codes are allowed.",
      "example": "CO",
      "type": "string",
      "enum": [
        "AK",
        "AL",
        "AR",
        "AS",
        "AZ",
        "CA",
        "CO",
        "CT",
        "DC",
        "DE",
        "FL",
        "FM",
        "GA",
        "GU",
        "HI",
        "IA",
        "ID",
        "IL",
        "IN",
        "KS",
        "KY",
        "LA",
        "MA",
        "MD",
        "ME",
        "MH",
        "MI",
        "MN",
        "MO",
        "MP",
        "MS",
        "MT",
        "NC",
        "ND",
        "NE",
        "NH",
        "NJ",
        "NM",
        "NV",
        "NY",
        "OH",
        "OK",
        "OR",
        "PA",
        "PR",
        "PW",
        "RI",
        "SC",
        "SD",
        "TN",
        "TX",
        "UT",
        "VA",
        "VI",
        "VT",
        "WA",
        "WI",
        "WV",
        "WY"
      ]
    }
- Country: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "title": "Country",
      "description": "Only United States is allowed.",
      "type": "string",
      "enum": [
        "United States"
      ]
    }
- Identification: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Identification",
      "title": "Identification",
      "type": "object",
      "properties": {
        "idType": {
          "title": "IdType",
          "description": "Type of ID provided by the owner.",
          "example": "PASSPORT",
          "type": "string",
          "enum": [
            "ALIEN ID",
            "CREDIT BUREAU",
            "DRIVERS LICENSE",
            "STATE ID",
            "MEXICAN CONSULATE",
            "MILITARY ID",
            "OTHER",
            "PASSPORT"
          ]
        },
        "idNumber": {
          "description": "Owner's ID number.",
          "example": "312312341",
          "type": "string",
          "maxLength": 40
        },
        "issuedCity": {
          "description": "City in which ID was issued.",
          "example": "City Town",
          "type": "string",
          "maxLength": 28
        },
        "issuedState": {
          "title": "IssuedState",
          "description": "Valid state code where ID was issued.",
          "example": "CO",
          "type": "string",
          "maxLength": 2,
          "enum": [
            "AK",
            "AL",
            "AR",
            "AS",
            "AZ",
            "CA",
            "CO",
            "CT",
            "DC",
            "DE",
            "FL",
            "FM",
            "GA",
            "GU",
            "HI",
            "IA",
            "ID",
            "IL",
            "IN",
            "KS",
            "KY",
            "LA",
            "MA",
            "MD",
            "ME",
            "MH",
            "MI",
            "MN",
            "MO",
            "MP",
            "MS",
            "MT",
            "NC",
            "ND",
            "NE",
            "NH",
            "NJ",
            "NM",
            "NV",
            "NY",
            "OH",
            "OK",
            "OR",
            "PA",
            "PR",
            "PW",
            "RI",
            "SC",
            "SD",
            "TN",
            "TX",
            "UT",
            "VA",
            "VI",
            "VT",
            "WA",
            "WI",
            "WV",
            "WY"
          ]
        },
        "issuedCountry": {
          "description": "Country where ID was issued.",
          "example": "US",
          "type": "string",
          "maxLength": 2
        },
        "dateIssued": {
          "description": "Date ID was issued (CCYY-MM-DD).",
          "example": "1999-01-30",
          "type": "string",
          "format": "date"
        },
        "dateExpires": {
          "description": "Date ID expires (CCYY-MM-DD).",
          "example": "2020-02-11",
          "type": "string",
          "format": "date"
        }
      },
      "required": [
        "idType",
        "idNumber"
      ]
    }
- Guarantor: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Guarantor",
      "title": "Guarantor",
      "type": "object",
      "properties": {
        "type": {
          "example": "Guarantor 1 Contact",
          "type": "string",
          "enum": [
            "Guarantor 1 Contact"
          ]
        },
        "firstName": {
          "description": "First name. Region based validations will be applied to this field.",
          "example": "Todd",
          "type": "string",
          "minLength": 1,
          "maxLength": 15,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "lastName": {
          "description": "Last name. Region based validations will be applied to this field.",
          "example": "Davis",
          "type": "string",
          "minLength": 1,
          "maxLength": 25,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "phoneNumber": {
          "description": "10-digit phone number of the format  5131234567.",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "email": {
          "description": "Email address of the contact. Must have @ and a .",
          "example": "test@gmail.com",
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
        },
        "addressLine1": {
          "description": "Address Line 1. Field for house number, street and direction.",
          "example": "4355 N Coalwhipe St.",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "city": {
          "example": "Denver",
          "type": "string",
          "minLength": 1,
          "maxLength": 28,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "state": {
          "title": "State",
          "description": "Valid US state, commonwealth, and territory codes are allowed.",
          "example": "CO",
          "type": "string",
          "enum": [
            "AK",
            "AL",
            "AR",
            "AS",
            "AZ",
            "CA",
            "CO",
            "CT",
            "DC",
            "DE",
            "FL",
            "FM",
            "GA",
            "GU",
            "HI",
            "IA",
            "ID",
            "IL",
            "IN",
            "KS",
            "KY",
            "LA",
            "MA",
            "MD",
            "ME",
            "MH",
            "MI",
            "MN",
            "MO",
            "MP",
            "MS",
            "MT",
            "NC",
            "ND",
            "NE",
            "NH",
            "NJ",
            "NM",
            "NV",
            "NY",
            "OH",
            "OK",
            "OR",
            "PA",
            "PR",
            "PW",
            "RI",
            "SC",
            "SD",
            "TN",
            "TX",
            "UT",
            "VA",
            "VI",
            "VT",
            "WA",
            "WI",
            "WV",
            "WY"
          ]
        },
        "country": {
          "description": "Only United States is allowed.",
          "type": "string",
          "enum": [
            "United States"
          ]
        },
        "postalCode": {
          "description": "Postal code / zip code. The postal code must be valid for the address' country code.",
          "example": "12345",
          "type": "string",
          "minLength": 5,
          "maxLength": 5,
          "pattern": "^[0-9]{5}$"
        },
        "title": {
          "description": "Required for AMEX acquired merchants otherwise optional.",
          "example": "President",
          "type": "string",
          "minLength": 1,
          "maxLength": 30,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "middleInitial": {
          "description": "Middle initial.",
          "example": "M",
          "type": "string",
          "minLength": 1,
          "maxLength": 1,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "phoneNumberExt": {
          "description": "Phone number extension. Up to 8 digits of the format 12345678.",
          "example": "1234",
          "type": "string",
          "maxLength": 8,
          "pattern": "^[0-9]{1,8}$"
        },
        "phoneType": {
          "title": "PhoneType",
          "description": "Phone type.",
          "example": "mobile",
          "type": "string",
          "enum": [
            "mobile",
            "home"
          ]
        },
        "alternatePhone": {
          "description": "10-digit alternate phone number of the format  5131234567.",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "alternatePhoneType": {
          "title": "AlternatePhoneType",
          "description": "Alternate phone type.",
          "example": "home",
          "type": "string",
          "enum": [
            "mobile",
            "home"
          ]
        },
        "faxNumber": {
          "description": "10-digit fax number of the format 5131234567",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "ownershipPercentage": {
          "description": "Ownership stake percentage.",
          "type": "integer",
          "minimum": 0.0,
          "maximum": 100.0,
          "format": "int32"
        },
        "ssn": {
          "description": "Social security number. Do not include dashes.",
          "example": "123456789",
          "type": "string",
          "pattern": "^[0-9]{9}$"
        },
        "dob": {
          "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
          "example": "2000-03-23",
          "type": "string",
          "format": "date"
        },
        "addressLine2": {
          "description": "Address Line 2. Field for apartment or suite numbers, etc.",
          "example": "suite 104",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "postalCodeExtension": {
          "description": "Postal code / zip code extension.  The postal code extension must be valid for the address' country code.",
          "example": "1234",
          "type": "string",
          "minLength": 4,
          "maxLength": 4,
          "pattern": "^[0-9]{4}$"
        },
        "identification": {
          "description": "Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.",
          "type": "array",
          "items": {
            "id": "Identification",
            "title": "Identification",
            "type": "object",
            "properties": {
              "idType": {
                "title": "IdType",
                "description": "Type of ID provided by the owner.",
                "example": "PASSPORT",
                "type": "string",
                "enum": [
                  "ALIEN ID",
                  "CREDIT BUREAU",
                  "DRIVERS LICENSE",
                  "STATE ID",
                  "MEXICAN CONSULATE",
                  "MILITARY ID",
                  "OTHER",
                  "PASSPORT"
                ]
              },
              "idNumber": {
                "description": "Owner's ID number.",
                "example": "312312341",
                "type": "string",
                "maxLength": 40
              },
              "issuedCity": {
                "description": "City in which ID was issued.",
                "example": "City Town",
                "type": "string",
                "maxLength": 28
              },
              "issuedState": {
                "title": "IssuedState",
                "description": "Valid state code where ID was issued.",
                "example": "CO",
                "type": "string",
                "maxLength": 2,
                "enum": [
                  "AK",
                  "AL",
                  "AR",
                  "AS",
                  "AZ",
                  "CA",
                  "CO",
                  "CT",
                  "DC",
                  "DE",
                  "FL",
                  "FM",
                  "GA",
                  "GU",
                  "HI",
                  "IA",
                  "ID",
                  "IL",
                  "IN",
                  "KS",
                  "KY",
                  "LA",
                  "MA",
                  "MD",
                  "ME",
                  "MH",
                  "MI",
                  "MN",
                  "MO",
                  "MP",
                  "MS",
                  "MT",
                  "NC",
                  "ND",
                  "NE",
                  "NH",
                  "NJ",
                  "NM",
                  "NV",
                  "NY",
                  "OH",
                  "OK",
                  "OR",
                  "PA",
                  "PR",
                  "PW",
                  "RI",
                  "SC",
                  "SD",
                  "TN",
                  "TX",
                  "UT",
                  "VA",
                  "VI",
                  "VT",
                  "WA",
                  "WI",
                  "WV",
                  "WY"
                ]
              },
              "issuedCountry": {
                "description": "Country where ID was issued.",
                "example": "US",
                "type": "string",
                "maxLength": 2
              },
              "dateIssued": {
                "description": "Date ID was issued (CCYY-MM-DD).",
                "example": "1999-01-30",
                "type": "string",
                "format": "date"
              },
              "dateExpires": {
                "description": "Date ID expires (CCYY-MM-DD).",
                "example": "2020-02-11",
                "type": "string",
                "format": "date"
              }
            },
            "required": [
              "idType",
              "idNumber"
            ]
          }
        }
      },
      "required": [
        "type",
        "firstName",
        "lastName",
        "phoneNumber",
        "email",
        "addressLine1",
        "city",
        "state",
        "country",
        "postalCode"
      ]
    }
- AuthorizedSigner: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "AuthorizedSigner",
      "title": "AuthorizedSigner",
      "type": "object",
      "properties": {
        "roleName": {
          "title": "RoleName",
          "description": "The role of the signer. Please note the below.\n\n 1) Merchant role name is mandatory.\n 2) Required fields indicated in schema are those required for all role names other than \"SalesRep\"\n 3) The \"SalesRep\" role name only requires the following fields > roleName, signingExperience, signingOrder, firstName, lastName, email\n 4) The \"Signer2\" role name is for a Personal Guarantor. This signer must be included if a Personal Guarantor is on the application. Include the Guarnator's information in this object.",
          "example": "Merchant",
          "type": "string",
          "enum": [
            "SalesRep",
            "Merchant",
            "Reviewer",
            "Signer2",
            "Signer3",
            "Signer4",
            "Signer5",
            "Signer6",
            "Signer7",
            "Signer8"
          ]
        },
        "signingExperience": {
          "title": "SigningExperience",
          "description": "Signing ceremony type",
          "example": "email",
          "type": "string",
          "enum": [
            "embed",
            "email",
            "wet"
          ]
        },
        "signingOrder": {
          "description": "Define the signing order for multiple signers",
          "example": "2",
          "type": "string"
        },
        "firstName": {
          "description": "First name. Region based validations will be applied to this field.",
          "example": "Todd",
          "type": "string",
          "minLength": 1,
          "maxLength": 15,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "lastName": {
          "description": "Last name. Region based validations will be applied to this field.",
          "example": "Davis",
          "type": "string",
          "minLength": 1,
          "maxLength": 25,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "phoneNumber": {
          "description": "10-digit phone number of the format  5131234567.",
          "example": "5131234567",
          "type": "string",
          "pattern": "^[0-9]{10}$"
        },
        "email": {
          "description": "Email address of the contact. Must have @ and a .",
          "example": "test@gmail.com",
          "type": "string",
          "minLength": 1,
          "maxLength": 64,
          "pattern": "\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}"
        },
        "ssn": {
          "description": "Social security number. Do not include dashes.",
          "example": "123456789",
          "type": "string",
          "pattern": "^[0-9]{9}$"
        },
        "dob": {
          "description": "Date of Birth (CCYY-MM-DD). Must be at least 18 years old.",
          "example": "2000-03-23",
          "type": "string",
          "format": "date"
        },
        "addressLine1": {
          "description": "Address Line 1. Field for house number, street and direction.",
          "example": "4355 N Coalwhipe St.",
          "type": "string",
          "minLength": 1,
          "maxLength": 40,
          "pattern": "^[a-zA-Z0-9 \\p{P}\\p{S}]+$"
        },
        "city": {
          "example": "Denver",
[...]
