openapi: 3.0.0
info:
  title: 'Launchpad: Non-POS Merchant Boarding'
  description: >
    The Launchpads Merchant Boarding API allows Worldpay partners to onboard merchants to Worldpay's Payments Platform. Please see the Getting Started page for more information. </br> </br> To contact our certifications team, please email <a href="mailto:Certification2@fisglobal.com">Certification2@fisglobal.com</a>.   </br> To contact the product team, please email <a href="mailto:APICustomerIntegration@fisglobal.com">APICustomerIntegration@fisglobal.com</a>.
  contact:
    email: Certification2@fisglobal.com
  version: '2.6.2'
servers:
- url: https://apis.cert.worldpay.com/merchant-boarding/v2
  variables: {}
- url: https://apis.cert.worldpay.com/merchant-boarding/v1
  variables: {}
paths:
  /applications:
    get:
      tags:
      - Initiate Boarding Application
      summary: FetchApplication
      description: Retrieves existing application data.
      operationId: FetchApplication
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExistingApplication'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
    put:
      tags:
      - Initiate Boarding Application
      summary: ExisitingApplication
      description: This endpoint allows merchants to update an existing application with new information.
      operationId: ExisitingApplication
      parameters:
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExistingApplication_1'
        required: true
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content: {}
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
    post:
      tags:
      - Initiate Boarding Application
      summary: NewApplication
      description: 'Use this endpoint to collect the merchant information needed to initiate a new contract. '
      operationId: NewApplication
      parameters:
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        required: true
      responses:
        '201':
          description: Created
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /equipment/supported:
    get:
      tags:
      - Equipment Lookup
      summary: GetEquipmentSupported
      description: Retrieve applicable equipment for an existing application.
      operationId: GetEquipmentSupported
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /terminal/additional-configurations:
    get:
      tags:
      - Equipment Lookup
      summary: GetAdditionalConfigurations
      description: Fetches a list of valid terminal customizations and peripherals, such as electing to password protect a void.
      operationId: GetAdditionalConfigurations
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: logicalApplicationId
        in: header
        description: Logical App ID of the terminal.
        style: simple
        schema:
          type: string
          example: '1073'
      responses:
        '200':
          description: Response is a list of valid terminal configurations.
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalConfigurationsResponse'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /equipment/terminal-var:
    get:
      tags:
      - Choose Equipment
      summary: GetTerminalInfo
      description: Gets the terminal configuration information for a specific partner.
      operationId: GetTerminalInfo
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: Content-Type
        in: header
        description: Indicates the media type of the request-body. Accepts application/json.
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/Content-Type'
          - description: Indicates the media type of the request-body. Accepts application/json.
      - name: locationId
        in: header
        description: The locationId returned from POST /locations call.
        style: simple
        schema:
          type: string
      - name: merchantId
        in: header
        description: The merchantId returned from POST /merchants call.
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentSetup'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
    put:
      tags:
      - Choose Equipment
      summary: UpdateTerminal
      description: Updates terminal configurations.
      operationId: UpdateTerminal
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: locationId
        in: header
        description: The locationId returned from POST /locations call.
        style: simple
        schema:
          type: string
      - name: merchantId
        in: header
        description: The merchantId returned from POST /merchants call.
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EquipmentSetup'
              - example:
                  shippingOption: next day
                  terminals:
                  - terminalConfigs:
                      requestId: '41231'
                      terminalId: '67'
                      terminalModel: VAR - Xpient Solutions
                      price: 187.99
                      quantity: 1
                      logicalApplicationId: '194'
                      accessMethod: SSL
                      paymentMethod: PURCHASE / SALE
                      environmentName: Restaurant
                    products:
                    - productId: '1'
                      productName: Credit
            examples:
              Partners - Standalone Terminals:
                value:
                  shippingOption: next day
                  terminals:
                  - terminalConfigs:
                      requestId: '41231'
                      terminalId: '67'
                      terminalModel: VAR - Xpient Solutions
                      price: 187.99
                      quantity: 1
                      logicalApplicationId: '194'
                      accessMethod: SSL
                      paymentMethod: PURCHASE / SALE
                      environmentName: Restaurant
                    products:
                    - productId: '1'
                      productName: Credit
        required: true
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content: {}
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
    post:
      tags:
      - Choose Equipment
      summary: ConfigStandaloneTerminal
      description: Sets up terminal configurations.
      operationId: ConfigStandaloneTerminal
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: locationId
        in: header
        description: The locationId returned from POST /locations call.
        style: simple
        schema:
          type: string
      - name: merchantId
        in: header
        description: The merchantId returned from POST /merchants call.
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/EquipmentSetup'
              - example:
                  shippingOption: next day
                  terminals:
                  - terminalConfigs:
                      requestId: '41231'
                      terminalId: '67'
                      terminalModel: VAR - Xpient Solutions
                      price: 187.99
                      quantity: 1
                      logicalApplicationId: '194'
                      accessMethod: SSL
                      paymentMethod: PURCHASE / SALE
                      environmentName: Restaurant
                    products:
                    - productId: '1'
                      productName: Credit
            examples:
              Partners - Standalone Terminals:
                value:
                  shippingOption: next day
                  terminals:
                  - terminalConfigs:
                      requestId: '41231'
                      terminalId: '67'
                      terminalModel: VAR - Xpient Solutions
                      price: 187.99
                      quantity: 1
                      logicalApplicationId: '194'
                      accessMethod: SSL
                      paymentMethod: PURCHASE / SALE
                      environmentName: Restaurant
                    products:
                    - productId: '1'
                      productName: Credit
        required: true
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content: {}
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/validate:
    put:
      tags:
      - Submit Application
      summary: validateBoard
      description: Begins the merchant validation process before boarding after all necessary information has been submitted to the API. Please see the reference guide for specific boarding requirements.
      operationId: validateBoard
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: Content-Type
        in: header
        description: Indicates the media type of the request-body. Accepts application/json.
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/Content-Type'
          - description: Indicates the media type of the request-body. Accepts application/json.
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content: {}
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/board:
    put:
      tags:
      - Submit Application
      summary: InititateBoard
      description: Begins the merchant boarding process after all necessary information has been submitted to the API. Please see the reference guide for specific boarding requirements.
      operationId: InititateBoard
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: Content-Type
        in: header
        description: Indicates the media type of the request-body. Accepts application/json.
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/Content-Type'
          - description: Indicates the media type of the request-body. Accepts application/json.
      - name: threatmetrixId
        in: header
        description: A unique session id
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content: {}
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/status:
    get:
      tags:
      - Check Application Status
      summary: GetApplicationStatus
      description: Retrieves the status of a contract when passed with an externalRefID. Both the externalRefID and authorization header are required.
      operationId: GetApplicationStatus
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      responses:
        '200':
          description: >-
            Success


            ApplicationStatus gives following Information,


            - 'contractStatus' - Current status of contract processing.


            - 'description' - Detailed description of the contractStatus.
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationStatus'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/status/history:
    get:
      tags:
      - Check Application Status
      summary: fetchApplicationStatusHistory
      description: Use this endpoint to get a application's status history.
      operationId: fetchApplicationStatusHistory
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusHistoryResponse'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/status/signers:
    get:
      tags:
      - Check Application Status
      summary: fetchSignerStatus
      description: Use this endpoint to get signer status
      operationId: fetchSignerStatus
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: Content-Type
        in: header
        description: Indicates the media type of the request-body. Accepts application/json.
        style: simple
        schema:
          allOf:
          - $ref: '#/components/schemas/Content-Type'
          - description: Indicates the media type of the request-body. Accepts application/json.
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignerStatus'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /contracts:
    get:
      tags:
      - Review and Sign Contract
      summary: GetContract
      description: Returns a PDF contract to be signed.
      operationId: GetContract
      parameters:
      - name: externalRefId
        in: header
        description: The externalRefId returned from POST /applications call.
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      responses:
        '200':
          description: Response is a PDF file.
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/pdf:
              schema: {}
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/documentlink:
    post:
      tags:
      - Review and Sign Contract
      summary: DocusignLink
      description: Retrieves a Docusign link to view the contract.
      operationId: DocusignLink
      parameters:
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentLink'
        required: true
      responses:
        '200':
          description: Success
          headers:
            v-correlation-id:
              description: Unique transaction Id. Will be generated if not provided and returned in response headers.
              content:
                text/plain:
                  schema:
                    type: string
                    description: Unique transaction Id. Will be generated if not provided and returned in response headers.
                    format: uuid
                    example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
                  example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocuSignLink'
        default:
          description: Default errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - example:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
              examples:
                400 Bad Request:
                  description: Bad Request
                  value:
                    httpStatusCode: 400
                    httpStatusMessage: BAD_REQUEST
                    errors:
                    - errorCode: PARAMETER_VALIDATION_ERROR
                      errorMessage: PartnerId is missing in header.
                      target: partnerId
                401 Unauthorized:
                  value:
                    httpStatusCode: 401
                    httpStatusMessage: Invalid API Key
                    errors:
                    - errorCode: INVALID_API_KEY
                      errorMessage: Invalid API key. Please ensure the key is accurate and authorization is included.
                      target: Authorization
                403 Forbidden:
                  value:
                    httpStatusCode: 403
                    httpStatusMessage: AUTH-ERROR
                    errors:
                    - errorCode: AUTH_ERROR
                      errorMessage: Invalid Authorization header. Please ensure the license token is valid and properly formatted.
                      target: Authorization
                404 Not Found:
                  value:
                    httpStatusCode: 404
                    httpStatusMessage: STATUS-MESSAGE
                    errors:
                    - errorCode: ERROR_CODE
                      errorMessage: Error message here.
                      target: Target
                412 Pre Condition:
                  value:
                    httpStatusCode: 412
                    httpStatusMessage: PRECONDITION_FAILED
                    errors:
                    - errorCode: ERROR_VALIDATION_REQUEST_PARAM
                      errorMessage: 'JSONMappingException: Cannot deserialize.'
                      target: Bad Contract Request
                415 Bad content Type:
                  value:
                    httpStatusCode: 415
                    httpStatusMessage: Bad-Content-Type
                    errors:
                    - errorCode: BAD_CONTENT_TYPE
                      errorMessage: text/xml is not supported.
                      target: Bad Content Type
                500 Server Error:
                  value:
                    httpStatusCode: 500
                    httpStatusMessage: env:Client
                    errors:
                    - errorCode: Internal Error
                      errorMessage: Internal Client Error
                      target: exampleTarget
      deprecated: false
  /applications/health:
    get:
      tags:
      - Check Launchpad health
      summary: Gethealth
      description: Checks the the health of Launchpad and its dependent down streams systems like CPQ, Sales Force, XAA and Jigsaw at regular intervals to check the system is up or down.
      operationId: Gethealth
      parameters:
      - name: v-correlation-id
        in: header
        description: Unique transaction Id. Will be generated if not provided and returned in response headers.
        style: simple
        schema:
          type: string
          format: uuid
          example: 3fcb1437-4e52-4946-9ae1-e618351b6d16
      responses:
        '200':
          description: Response is UP or DOWN of Launchpad & it's downstream system.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
      deprecated: false
components:
  schemas:
    Schema:
      title: Schema
      type: object
      properties:
        id:
          type: integer
          format: int64
    ExistingApplication:
      title: ExistingApplication
      required:
      - externalRefId
      - businessInfo
      - transactionInfo
      type: object
      properties:
        externalRefId:
          maxLength: 36
          pattern: ([0-9a-z]{8})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{12})
          type: string
          description: A unique GUID generated by POST resource, used for retrieving and updating a deal. Do not send in the request, API will always generate one and assign it to the deal.
          example: df8a6d82-3bb4-4f3b-ba18-57a5981ede8e
        leadSource:
          maxLength: 12
          type: string
          description: The source of a lead.
          example: Activate
        businessInfo:
          $ref: '#/components/schemas/BusinessInfo'
        transactionInfo:
          $ref: '#/components/schemas/TransactionInfo'
        owners:
          type: array
          items:
            $ref: '#/components/schemas/Owner'
          description: ''
        guarantors:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Guarantor'
          description: Guarantor information. A guarantor is the person whose credit report will be pulled during the underwriting process.
        authorizedSigners:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizedSigner'
          description: ''
        contacts:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Contact'
          description: ''
        addresses:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: ''
          example:
          - type: Mailing Address
            addressLine1: 1234 W Tester Ave.
            city: City Town
            state: CO
            country: United States
            postalCode: '80123'
            postalCodeExtension: '1234'
          - type: Physical Address
            addressLine1: 1234 W Tester Ave.
            city: City Town
            state: CO
            country: United States
            postalCode: '80123'
            postalCodeExtension: '1234'
        bankAccount:
          $ref: '#/components/schemas/BankAccount'
        salesAgent:
          allOf:
          - $ref: '#/components/schemas/SalesAgent'
          - description: The agent who is submitting the deal.
        installationContact:
          allOf:
          - $ref: '#/components/schemas/InstallationContact'
          - description: The Technical Agent who is going to do setup.
        routeToSalesRep:
          type: boolean
          description: Used to route a application to a worldpay or partner sales rep. By default the API is configured to route to a Worldpay sales rep. If you would like to route to partner (Launchpad UI) please work with your implementation consultant.
          example: false
    BusinessInfo:
      title: BusinessInfo
      required:
      - dbaName
      - legalName
      - ownershipType
      - mccCode
      type: object
      properties:
        dbaName:
          maxLength: 50
          minLength: 1
          type: string
          description: The merchant name they do business as.  Generally with what their customers know the business.
          example: The DBA Name
        legalName:
          maxLength: 50
          minLength: 1
          type: string
          description: Business Legal Name as filed with the IRS.
          example: Timothy Jones
        ownershipType:
          allOf:
          - $ref: '#/components/schemas/OwnershipType'
          - description: Required. OwnershipType defines the type of the Merchant Organization, and drives the requirements for data collections of beneficial and control owners under U.S. Financial Crimes Enforcement Network (FinCEN).
            example: LLC
        mccCode:
          maxLength: 4
          minLength: 4
          type: string
          description: SIC Code / MCC Code (Merchant Category Code) is the code use to describe what the merchant is selling. Use MCC look up call to search valid codes, with sort and long description to find the MCC that most closely matches what the merchant is selling.
          example: '5812'
        businessEstablishedDate:
          type: string
          description: Date (CCYY-MM-DD) on which the merchant's business was established.
          format: date
          example: 2000-03-23
        websiteUrl:
          maxLength: 80
          minLength: 0
          type: string
          description: The URL of the merchant's website.
          example: www.thefoodplace.com
        numberOfLocation:
          type: integer
          description: Number of current locations.
          format: int32
          example: 2
        federalTaxId:
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]{9}$
          type: string
          description: The Federal Tax ID is the business Tax Identification Number (TIN) or Employer Identification Number (EIN). If the business is a sole proprietor they may use the social security number of the sole proprietor.
          example: '123456789'
        paymentAcceptanceMethod:
          type: array
          items:
            $ref: '#/components/schemas/PaymentAcceptanceMethod'
          description: The ways in which the business is accepting payments. Multiple options may be selected. 'In person', would be card present at a brick and mortar store, 'onlinesite' would be card not present use on an ecommerce website, and 'phoneormailorder' would be card not present used for mail and telephone orders.
          example:
          - inPerson
          - onlineSite
        pciadc:
          allOf:
          - $ref: '#/components/schemas/Pciadc'
          - description: Indication if the merchant has had an account data compromise.
            example: No
        pcidssValidated:
          allOf:
          - $ref: '#/components/schemas/PcidssValidated'
          - description: Indictor showing if the merchant is compliant or not with the Payment Card Industry Data Security Standards.
            example: No
        surroundingArea:
          allOf:
          - $ref: '#/components/schemas/SurroundingArea'
          - description: Type of area surroundning the business.
            example: Commercial
        productServiceSold:
          maxLength: 40
          minLength: 1
          pattern: (^[-a-zA-Z0-9_ &()*+,./:;=_'‘]{1,40}$)
          type: string
          description: Type of goods or services sold.
          example: Food
        ownAddYears:
          maximum: 99
          minimum: 0
          type: integer
          description: Years the business has been operating in their current location.
          format: int32
          example: 2
        lengthOfContract:
          pattern: ([0-9]{3})$
          type: string
          description: Inital contract term in months.
        seasonal:
          allOf:
          - $ref: '#/components/schemas/Seasonal'
          - description: Does the business operate seasonally?
            example: Yes
        activeMonths:
          type: array
          items:
            $ref: '#/components/schemas/ActiveMonth'
          description: The months during which the business is actively operating.
          example:
          - Jan
          - Feb
          - Mar
        warranty:
          allOf:
          - $ref: '#/components/schemas/Warranty'
          - description: Does the business offer warranties, dues, subscriptions, memberships, or other extended services?
            example: 1 YEAR
        returnPolicy:
          allOf:
          - $ref: '#/components/schemas/ReturnPolicy'
          - description: The business's return policy.
            example: 30 Day
        taxExempt:
          $ref: '#/components/schemas/TaxExempt'
        acceptCreditCards:
          allOf:
          - $ref: '#/components/schemas/AcceptCreditCards'
          - description: Does the business accept credit cards?
    TransactionInfo:
      title: TransactionInfo
      required:
      - annualSalesVolume
      - percentRetailSwipedTransactions
      type: object
      properties:
        annualSalesVolume:
          maximum: 9999999999999.99
          minimum: 0
          type: number
          description: Projected annual sales volume.
          example: 20000.12
        percentRetailSwipedTransactions:
          maximum: 100
          minimum: 0
          type: integer
          description: Projected Percentage of daily card-present transactions.
          format: int32
          example: 82
        averageTicket:
          maximum: 9999999.99
          minimum: 0
          type: number
          description: Average ticket dollar amount.
          example: 2.3
        highestTicket:
          maximum: 9999999.99
          minimum: 0
          type: number
          description: Highest ticket dollar amount.
          example: 32.41
        currentProcessor:
          type: string
          description: the current processor
          example: Global Payments
        acceptChargebacks:
          allOf:
          - $ref: '#/components/schemas/AcceptChargebacks'
          - description: Do you have more than 25 chargeback accepted in the last 12 months?
            example: No
        chargebackPercent:
          maximum: 100
          minimum: 0
          type: integer
          description: >-
            Projected chargeback percentage.


            ```Required when acceptChargebacks is 'Yes'```


            ```Optional when acceptChargebacks is null or 'No'.```
          format: int32
          example: 0
        returnPercent:
          maximum: 100
          minimum: 0
          type: integer
          description: Projected return percent of  goods sold
          format: int32
          example: 10
        cardNotPresentPercent:
          maximum: 100
          minimum: 0
          type: integer
          description: Percent of card not present transactions.
          format: int32
          example: 20
        businessToBusinessPercent:
          maximum: 100
          minimum: 0
          type: integer
          description: Percent of business-to-business transactions.
          format: int32
          example: 20
        internetTransactionPercent:
          maximum: 100
          minimum: 0
          type: integer
          description: Percent of internet transactions.
          format: int32
          example: 10
        annualCreditSalesVolume:
          maximum: 999999999.99
          minimum: 0
          type: number
          description: Projected annual credit card sales volume.
          example: 123.32
        annualDebitSalesVolume:
          maximum: 999999999.99
          minimum: 0
          type: number
          description: Projected annual debit card sales volume.
          example: 32.23
        annualAmexVolume:
          maximum: 999999999.99
          minimum: 0
          type: number
          description: Projected annual Amex volume. ``` This field is required when you opt-in for Amex ```
          example: 10000
        amexAverageTicket:
          maximum: 9999999.99
          minimum: 0
          type: number
          description: >-
            AverageTicket dollar amount for Amex.
             ```This field is required when you opt-in for Amex```
          example: 2.3
        averageNumberofDays:
          minimum: 0
          type: integer
          description: Average number of days from when cardholder is charged & when products or services are received IN FULL by cardholder.
          format: int32
          example: 10
    Owner:
      title: Owner
      required:
      - type
      - firstName
      - lastName
      - phoneNumber
      - email
      - addressLine1
      - city
      - state
      - country
      - postalCode
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/Type'
          - description: The Owner Type. Please note the above Ownership Types where a Control Owner is required.
        title:
          maxLength: 30
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Required for AMEX acquired merchants otherwise optional.
          example: President
        firstName:
          maxLength: 15
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: First name. Region based validations will be applied to this field.
          example: Todd
        middleInitial:
          maxLength: 1
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Middle initial.
          example: M
        lastName:
          maxLength: 25
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Last name. Region based validations will be applied to this field.
          example: Davis
        phoneNumber:
          pattern: ^[0-9]{10}$
          type: string
          description: 10-digit phone number of the format  5131234567.
          example: '5131234567'
        phoneNumberExt:
          maxLength: 8
          pattern: ^[0-9]{1,8}$
          type: string
          description: Phone number extension. Up to 8 digits of the format 12345678.
          example: '1234'
        phoneType:
          allOf:
          - $ref: '#/components/schemas/PhoneType'
          - description: Phone type.
            example: mobile
        alternatePhone:
          pattern: ^[0-9]{10}$
          type: string
          description: 10-digit alternate phone number of the format  5131234567.
          example: '5131234567'
        alternatePhoneType:
          allOf:
          - $ref: '#/components/schemas/AlternatePhoneType'
          - description: Alternate phone type.
            example: home
        faxNumber:
          pattern: ^[0-9]{10}$
          type: string
          description: 10-digit fax number of the format 5131234567
          example: '5131234567'
        email:
          maxLength: 64
          minLength: 1
          pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
          type: string
          description: Email address of the contact. Must have @ and a .
          example: test@gmail.com
        ownershipPercentage:
          maximum: 100
          minimum: 0
          type: integer
          description: Ownership stake percentage.
          format: int32
        ssn:
          pattern: ^[0-9]{9}$
          type: string
          description: Social security number. Do not include dashes.
          example: '123456789'
        dob:
          type: string
          description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
          format: date
          example: 2000-03-23
        addressLine1:
          maxLength: 40
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Address Line 1. Field for house number, street and direction.
          example: 4355 N Coalwhipe St.
        addressLine2:
          maxLength: 40
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Address Line 2. Field for apartment or suite numbers, etc.
          example: suite 104
        city:
          maxLength: 28
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          example: Denver
        state:
          allOf:
          - $ref: '#/components/schemas/State'
          - description: Valid US state, commonwealth, and territory codes are allowed.
            example: CO
        country:
          enum:
          - United States
          type: string
          description: Only United States is allowed.
        postalCode:
          maxLength: 5
          minLength: 5
          pattern: ^[0-9]{5}$
          type: string
          description: Postal code / zip code. The postal code must be valid for the address' country code.
          example: '12345'
        postalCodeExtension:
          maxLength: 4
          minLength: 4
          pattern: ^[0-9]{4}$
          type: string
          description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
          example: '1234'
        identification:
          type: array
          items:
            $ref: '#/components/schemas/Identification'
          description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
      description: A Control Owner is required for the following ownership types > LLC, PARTNERSHIP, PRIVATE CORPORATION, ASSOCIATION/ESTATE/TRUST, NON-PROFIT
      example:
        type: Control Owner Contact
        title: Owner
        firstName: Timothy
        middleInitial: M
        lastName: Jones
        phoneNumber: '1234567890'
        phoneNumberExt: '1234'
        faxNumber: '1234567890'
        email: test@test.com
        ownershipPercentage: 23
        ssn: '123456789'
        dob: 2000-03-23
        addressLine1: 4355 N Coalwhipe St.
        city: City Town
        state: OH
        country: United States
        postalCode: '80123'
        postalCodeExtension: '1234'
    PhoneType:
      title: PhoneType
      enum:
      - mobile
      - home
      type: string
      description: Phone type.
      example: mobile
    AlternatePhoneType:
      title: AlternatePhoneType
      enum:
      - mobile
      - home
      type: string
      description: Alternate phone type.
      example: home
    State:
      title: State
      enum:
      - AK
      - AL
      - AR
      - AS
      - AZ
      - CA
      - CO
      - CT
      - DC
      - DE
      - FL
      - FM
      - GA
      - GU
      - HI
      - IA
      - ID
      - IL
      - IN
      - KS
      - KY
      - LA
      - MA
      - MD
      - ME
      - MH
      - MI
      - MN
      - MO
      - MP
      - MS
      - MT
      - NC
      - ND
      - NE
      - NH
      - NJ
      - NM
      - NV
      - NY
      - OH
      - OK
      - OR
      - PA
      - PR
      - PW
      - RI
      - SC
      - SD
      - TN
      - TX
      - UT
      - VA
      - VI
      - VT
      - WA
      - WI
      - WV
      - WY
      type: string
      description: Valid US state, commonwealth, and territory codes are allowed.
      example: CO
    Country:
      title: Country
      enum:
      - United States
      type: string
      description: Only United States is allowed.
    Identification:
      title: Identification
      required:
      - idType
      - idNumber
      type: object
      properties:
        idType:
          allOf:
          - $ref: '#/components/schemas/IdType'
          - description: Type of ID provided by the owner.
            example: PASSPORT
        idNumber:
          maxLength: 40
          type: string
          description: Owner's ID number.
          example: '312312341'
        issuedCity:
          maxLength: 28
          type: string
          description: City in which ID was issued.
          example: City Town
        issuedState:
          allOf:
          - $ref: '#/components/schemas/IssuedState'
          - maxLength: 2
            description: Valid state code where ID was issued.
            example: CO
        issuedCountry:
          maxLength: 2
          type: string
          description: Country where ID was issued.
          example: US
        dateIssued:
          type: string
          description: Date ID was issued (CCYY-MM-DD).
          format: date
          example: 1999-01-30
        dateExpires:
          type: string
          description: Date ID expires (CCYY-MM-DD).
          format: date
          example: 2020-02-11
    Guarantor:
      title: Guarantor
      required:
      - type
      - firstName
      - lastName
      - phoneNumber
      - email
      - addressLine1
      - city
      - state
      - country
      - postalCode
      type: object
      properties:
        type:
          enum:
          - Guarantor 1 Contact
          type: string
          example: Guarantor 1 Contact
        title:
          maxLength: 30
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Required for AMEX acquired merchants otherwise optional.
          example: President
        firstName:
          maxLength: 15
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: First name. Region based validations will be applied to this field.
          example: Todd
        middleInitial:
          maxLength: 1
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Middle initial.
          example: M
        lastName:
          maxLength: 25
          minLength: 1
          pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
          type: string
          description: Last name. Region based validations will be applied to this field.
          example: Davis
        phoneNumber:
          pattern: ^[0-9]{10}$
          type: string
          description: 10-digit phone number of the format  5131234567.
          example: '5131234567'
        phoneNumberExt:
          maxLength: 8
          pattern: ^[0-9]{1,8}$
          type: string
[...]
