#%RAML 1.0
title: 'Launchpad: Non-POS Merchant Boarding'
version: 2.6.2
baseUri: https://apis.cert.worldpay.com/merchant-boarding/v2
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: 'Launchpad: Non-POS Merchant Boarding'
  content: The Launchpads Merchant Boarding API allows Worldpay partners to onboard merchants to Worldpay's Payments Platform. Please see the Getting Started page for more information. </br> </br> To contact our certifications team, please email <a href="mailto:Certification2@fisglobal.com">Certification2@fisglobal.com</a>.   </br> To contact the product team, please email <a href="mailto:APICustomerIntegration@fisglobal.com">APICustomerIntegration@fisglobal.com</a>.
securitySchemes:
  api_key:
    type: Pass Through
    description: >
      ``` License format is WORLDPAY license='xxxx'```
    describedBy:
      headers:
        Authorization:
          required: true
          displayName: Authorization
          description: "``` License format is WORLDPAY license='xxxx'```"
          type: string
securedBy:
- api_key
types:
  Schema:
    displayName: Schema
    type: object
    properties:
      id:
        required: false
        displayName: id
        type: integer
        format: int64
  ExistingApplication:
    displayName: ExistingApplication
    type: object
    properties:
      externalRefId:
        required: true
        example:
          value: df8a6d82-3bb4-4f3b-ba18-57a5981ede8e
        displayName: externalRefId
        description: A unique GUID generated by POST resource, used for retrieving and updating a deal. Do not send in the request, API will always generate one and assign it to the deal.
        type: string
        pattern: ([0-9a-z]{8})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{12})
        maxLength: 36
      leadSource:
        required: false
        example:
          value: Activate
        displayName: leadSource
        description: The source of a lead.
        type: string
        maxLength: 12
      businessInfo:
        required: true
        displayName: businessInfo
        type: BusinessInfo
      transactionInfo:
        required: true
        displayName: transactionInfo
        type: TransactionInfo
      owners:
        required: false
        displayName: owners
        type: array
        items:
          type: Owner
      guarantors:
        required: false
        displayName: guarantors
        description: Guarantor information. A guarantor is the person whose credit report will be pulled during the underwriting process.
        type: array
        uniqueItems: true
        items:
          type: Guarantor
      authorizedSigners:
        required: false
        displayName: authorizedSigners
        type: array
        items:
          type: AuthorizedSigner
      contacts:
        required: false
        displayName: contacts
        type: array
        uniqueItems: true
        items:
          type: Contact
      addresses:
        required: false
        example:
          value:
          - type: Mailing Address
            addressLine1: 1234 W Tester Ave.
            city: City Town
            state: CO
            country: United States
            postalCode: '80123'
            postalCodeExtension: '1234'
          - type: Physical Address
            addressLine1: 1234 W Tester Ave.
            city: City Town
            state: CO
            country: United States
            postalCode: '80123'
            postalCodeExtension: '1234'
        displayName: addresses
        type: array
        uniqueItems: true
        items:
          type: Address
      bankAccount:
        required: false
        displayName: bankAccount
        type: BankAccount
      salesAgent:
        required: false
        displayName: salesAgent
        description: The agent who is submitting the deal.
        type: SalesAgent
      installationContact:
        required: false
        displayName: installationContact
        description: The Technical Agent who is going to do setup.
        type: InstallationContact
      routeToSalesRep:
        required: false
        example:
          value: false
        displayName: routeToSalesRep
        description: Used to route a application to a worldpay or partner sales rep. By default the API is configured to route to a Worldpay sales rep. If you would like to route to partner (Launchpad UI) please work with your implementation consultant.
        type: boolean
  BusinessInfo:
    displayName: BusinessInfo
    type: object
    properties:
      dbaName:
        required: true
        example:
          value: The DBA Name
        displayName: dbaName
        description: The merchant name they do business as.  Generally with what their customers know the business.
        type: string
        minLength: 1
        maxLength: 50
      legalName:
        required: true
        example:
          value: Timothy Jones
        displayName: legalName
        description: Business Legal Name as filed with the IRS.
        type: string
        minLength: 1
        maxLength: 50
      ownershipType:
        required: true
        example:
          value: LLC
        displayName: ownershipType
        description: Required. OwnershipType defines the type of the Merchant Organization, and drives the requirements for data collections of beneficial and control owners under U.S. Financial Crimes Enforcement Network (FinCEN).
        type: string
        enum:
        - GOVERNMENT
        - SOLE PROPRIETOR
        - LLC
        - PARTNERSHIP
        - FIN INSTITUTION
        - NON-PROFIT
        - ASSOCIATION/ESTATE/TRUST
        - PRIVATE CORPORATION
        - SEC REGISTERED
        - PUBLIC CORPORATION
        - OTHER
      mccCode:
        required: true
        example:
          value: '5812'
        displayName: mccCode
        description: SIC Code / MCC Code (Merchant Category Code) is the code use to describe what the merchant is selling. Use MCC look up call to search valid codes, with sort and long description to find the MCC that most closely matches what the merchant is selling.
        type: string
        minLength: 4
        maxLength: 4
      businessEstablishedDate:
        required: false
        example:
          value: 2000-03-23
        displayName: businessEstablishedDate
        description: Date (CCYY-MM-DD) on which the merchant's business was established.
        type: date-only
      websiteUrl:
        required: false
        example:
          value: www.thefoodplace.com
        displayName: websiteUrl
        description: The URL of the merchant's website.
        type: string
        minLength: 0
        maxLength: 80
      numberOfLocation:
        required: false
        example:
          value: 2
        displayName: numberOfLocation
        description: Number of current locations.
        type: integer
        format: int32
      federalTaxId:
        required: false
        example:
          value: '123456789'
        displayName: federalTaxId
        description: The Federal Tax ID is the business Tax Identification Number (TIN) or Employer Identification Number (EIN). If the business is a sole proprietor they may use the social security number of the sole proprietor.
        type: string
        pattern: ^[0-9]{9}$
        minLength: 9
        maxLength: 9
      paymentAcceptanceMethod:
        required: false
        example:
          value:
          - inPerson
          - onlineSite
        displayName: paymentAcceptanceMethod
        description: The ways in which the business is accepting payments. Multiple options may be selected. 'In person', would be card present at a brick and mortar store, 'onlinesite' would be card not present use on an ecommerce website, and 'phoneormailorder' would be card not present used for mail and telephone orders.
        type: array
        items:
          type: string
          enum:
          - inPerson
          - onlineSite
          - phoneOrMailOrder
      pciadc:
        required: false
        default: No
        example:
          value: No
        displayName: pciadc
        description: Indication if the merchant has had an account data compromise.
        type: string
        enum:
        - Yes
        - No
      pcidssValidated:
        required: false
        default: Yes
        example:
          value: No
        displayName: pcidssValidated
        description: Indictor showing if the merchant is compliant or not with the Payment Card Industry Data Security Standards.
        type: string
        enum:
        - Yes
        - No
      surroundingArea:
        required: false
        example:
          value: Commercial
        displayName: surroundingArea
        description: Type of area surroundning the business.
        type: string
        enum:
        - Commercial
        - Industrial
        - Residential
      productServiceSold:
        required: false
        example:
          value: Food
        displayName: productServiceSold
        description: Type of goods or services sold.
        type: string
        pattern: (^[-a-zA-Z0-9_ &()*+,./:;=_'‘]{1,40}$)
        minLength: 1
        maxLength: 40
      ownAddYears:
        required: false
        example:
          value: 2
        displayName: ownAddYears
        description: Years the business has been operating in their current location.
        type: integer
        minimum: 0
        maximum: 99
        format: int32
      lengthOfContract:
        required: false
        displayName: lengthOfContract
        description: Inital contract term in months.
        type: string
        pattern: ([0-9]{3})$
      seasonal:
        required: false
        example:
          value: Yes
        displayName: seasonal
        description: Does the business operate seasonally?
        type: string
        enum:
        - Yes
        - No
      activeMonths:
        required: false
        example:
          value:
          - Jan
          - Feb
          - Mar
        displayName: activeMonths
        description: The months during which the business is actively operating.
        type: array
        items:
          type: string
          enum:
          - Jan
          - Feb
          - Mar
          - Apr
          - May
          - Jun
          - Jul
          - Aug
          - Sep
          - Oct
          - Nov
          - Dec
      warranty:
        required: false
        example:
          value: 1 YEAR
        displayName: warranty
        description: Does the business offer warranties, dues, subscriptions, memberships, or other extended services?
        type: string
        enum:
        - 1 YEAR
        - 30 DAY
        - 60 DAY
        - 90 DAY
        - LIFETIME
        - NO
      returnPolicy:
        required: false
        example:
          value: 30 Day
        displayName: returnPolicy
        description: The business's return policy.
        type: string
        enum:
        - 3 Day
        - 30 Day
        - 60 Day
        - 60+ Day
        - ALL SALES FINAL
        - EXCHANGE ONLY/STORE CREDIT
        - NO RETURN POLICY
      taxExempt:
        required: false
        displayName: taxExempt
        type: string
        enum:
        - "'true'"
        - "'false'"
      acceptCreditCards:
        required: false
        displayName: acceptCreditCards
        description: Does the business accept credit cards?
        type: string
        enum:
        - "'true'"
        - "'false'"
  TransactionInfo:
    displayName: TransactionInfo
    type: object
    properties:
      annualSalesVolume:
        required: true
        example:
          value: 20000.12
        displayName: annualSalesVolume
        description: Projected annual sales volume.
        type: number
        minimum: 0
        maximum: 9999999999999.99
        format: double
      percentRetailSwipedTransactions:
        required: true
        example:
          value: 82
        displayName: percentRetailSwipedTransactions
        description: Projected Percentage of daily card-present transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      averageTicket:
        required: false
        example:
          value: 2.3
        displayName: averageTicket
        description: Average ticket dollar amount.
        type: number
        minimum: 0
        maximum: 9999999.99
        format: double
      highestTicket:
        required: false
        example:
          value: 32.41
        displayName: highestTicket
        description: Highest ticket dollar amount.
        type: number
        minimum: 0
        maximum: 9999999.99
        format: double
      currentProcessor:
        required: false
        example:
          value: Global Payments
        displayName: currentProcessor
        description: the current processor
        type: string
      acceptChargebacks:
        required: false
        example:
          value: No
        displayName: acceptChargebacks
        description: Do you have more than 25 chargeback accepted in the last 12 months?
        type: string
        enum:
        - Yes
        - No
      chargebackPercent:
        required: false
        example:
          value: 0
        displayName: chargebackPercent
        description: |
          Projected chargeback percentage.


          ```Required when acceptChargebacks is 'Yes'```


          ```Optional when acceptChargebacks is null or 'No'.```
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      returnPercent:
        required: false
        example:
          value: 10
        displayName: returnPercent
        description: Projected return percent of  goods sold
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      cardNotPresentPercent:
        required: false
        example:
          value: 20
        displayName: cardNotPresentPercent
        description: Percent of card not present transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      businessToBusinessPercent:
        required: false
        example:
          value: 20
        displayName: businessToBusinessPercent
        description: Percent of business-to-business transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      internetTransactionPercent:
        required: false
        example:
          value: 10
        displayName: internetTransactionPercent
        description: Percent of internet transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      annualCreditSalesVolume:
        required: false
        example:
          value: 123.32
        displayName: annualCreditSalesVolume
        description: Projected annual credit card sales volume.
        type: number
        minimum: 0
        maximum: 999999999.99
        format: double
      annualDebitSalesVolume:
        required: false
        example:
          value: 32.23
        displayName: annualDebitSalesVolume
        description: Projected annual debit card sales volume.
        type: number
        minimum: 0
        maximum: 999999999.99
        format: double
      annualAmexVolume:
        required: false
        example:
          value: 10000
        displayName: annualAmexVolume
        description: Projected annual Amex volume. ``` This field is required when you opt-in for Amex ```
        type: number
        minimum: 0
        maximum: 999999999.99
        format: double
      amexAverageTicket:
        required: false
        example:
          value: 2.3
        displayName: amexAverageTicket
        description: |
          AverageTicket dollar amount for Amex.
           ```This field is required when you opt-in for Amex```
        type: number
        minimum: 0
        maximum: 9999999.99
        format: double
      averageNumberofDays:
        required: false
        example:
          value: 10
        displayName: averageNumberofDays
        description: Average number of days from when cardholder is charged & when products or services are received IN FULL by cardholder.
        type: integer
        minimum: 0
        format: int32
  Owner:
    example:
      value:
        type: Control Owner Contact
        title: Owner
        firstName: Timothy
        middleInitial: M
        lastName: Jones
        phoneNumber: '1234567890'
        phoneNumberExt: '1234'
        faxNumber: '1234567890'
        email: test@test.com
        ownershipPercentage: 23
        ssn: '123456789'
        dob: 2000-03-23
        addressLine1: 4355 N Coalwhipe St.
        city: City Town
        state: OH
        country: United States
        postalCode: '80123'
        postalCodeExtension: '1234'
    displayName: Owner
    description: A Control Owner is required for the following ownership types > LLC, PARTNERSHIP, PRIVATE CORPORATION, ASSOCIATION/ESTATE/TRUST, NON-PROFIT
    type: object
    properties:
      type:
        required: true
        displayName: type
        description: The Owner Type. Please note the above Ownership Types where a Control Owner is required.
        type: string
        enum:
        - Control Owner Contact
        - Owner 1 Contact
        - Owner 2 Contact
        - Owner 3 Contact
        - Owner 4 Contact
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      ownershipPercentage:
        required: false
        displayName: ownershipPercentage
        description: Ownership stake percentage.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      ssn:
        required: false
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.
        type: string
        pattern: ^[0-9]{9}$
      dob:
        required: false
        example:
          value: 2000-03-23
        displayName: dob
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
      identification:
        required: false
        displayName: identification
        description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
        type: array
        items:
          type: Identification
  Identification:
    displayName: Identification
    type: object
    properties:
      idType:
        required: true
        example:
          value: PASSPORT
        displayName: idType
        description: Type of ID provided by the owner.
        type: string
        enum:
        - ALIEN ID
        - CREDIT BUREAU
        - DRIVERS LICENSE
        - STATE ID
        - MEXICAN CONSULATE
        - MILITARY ID
        - OTHER
        - PASSPORT
      idNumber:
        required: true
        example:
          value: '312312341'
        displayName: idNumber
        description: Owner's ID number.
        type: string
        maxLength: 40
      issuedCity:
        required: false
        example:
          value: City Town
        displayName: issuedCity
        description: City in which ID was issued.
        type: string
        maxLength: 28
      issuedState:
        required: false
        example:
          value: CO
        displayName: issuedState
        description: Valid state code where ID was issued.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      issuedCountry:
        required: false
        example:
          value: US
        displayName: issuedCountry
        description: Country where ID was issued.
        type: string
        maxLength: 2
      dateIssued:
        required: false
        example:
          value: 1999-01-30
        displayName: dateIssued
        description: Date ID was issued (CCYY-MM-DD).
        type: date-only
      dateExpires:
        required: false
        example:
          value: 2020-02-11
        displayName: dateExpires
        description: Date ID expires (CCYY-MM-DD).
        type: date-only
  Guarantor:
    displayName: Guarantor
    type: object
    properties:
      type:
        required: true
        example:
          value: Guarantor 1 Contact
        displayName: type
        type: string
        enum:
        - Guarantor 1 Contact
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      ownershipPercentage:
        required: false
        displayName: ownershipPercentage
        description: Ownership stake percentage.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      ssn:
        required: false
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.
        type: string
        pattern: ^[0-9]{9}$
      dob:
        required: false
        example:
          value: 2000-03-23
        displayName: dob
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
      identification:
        required: false
        displayName: identification
        description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
        type: array
        items:
          type: Identification
  AuthorizedSigner:
    displayName: AuthorizedSigner
    type: object
    properties:
      roleName:
        required: true
        example:
          value: Merchant
        displayName: roleName
        description: |
          The role of the signer. Please note the below.

           1) Merchant role name is mandatory.
           2) Required fields indicated in schema are those required for all role names other than "SalesRep"
           3) The "SalesRep" role name only requires the following fields > roleName, signingExperience, signingOrder, firstName, lastName, email
           4) The "Signer2" role name is for a Personal Guarantor. This signer must be included if a Personal Guarantor is on the application. Include the Guarnator's information in this object.
        type: string
        enum:
        - SalesRep
        - Merchant
        - Reviewer
        - Signer2
        - Signer3
        - Signer4
        - Signer5
        - Signer6
        - Signer7
        - Signer8
      signingExperience:
        required: true
        example:
          value: email
        displayName: signingExperience
        description: Signing ceremony type
        type: string
        enum:
        - embed
        - email
        - wet
      signingOrder:
        required: true
        example:
          value: '2'
        displayName: signingOrder
        description: Define the signing order for multiple signers
        type: string
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      ssn:
        required: true
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.
        type: string
        pattern: ^[0-9]{9}$
      dob:
        required: true
        example:
          value: 2000-03-23
        displayName: dob
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
      identification:
        required: false
        displayName: identification
        description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
        type: array
        items:
          type: Identification
  Contact:
    displayName: Contact
    type: object
    properties:
      type:
        required: true
        example:
          value: Primary Contact
        displayName: type
        description: "Type of merchant contact.   \n 1) Only primary contact\n      is mandatory. May be the same as any owner contact information. \n 2) For primary contact, firstName, lastName, phoneNumber and email are mandatory during POST.  \n 3) For all other contact types, firstName and lastName are mandatory during POST."
        type: string
        enum:
        - Primary Contact
        - Accounting Contact
        - Customer Service Contact
        - Shipping Contact
        - Third Party Contact
        - Vendor Contact Info
        - PCI Contact
        - Corporate
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      ssn:
        required: false
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.
        type: string
        pattern: ^[0-9]{9}$
      birthDate:
        required: false
        example:
          value: 2000-03-23
        displayName: birthDate
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
  Address:
    displayName: Address
    type: object
    properties:
      type:
        required: true
        example:
          value: Physical Address
        displayName: type
        description: "Address Type  \n 1) Physical address is mandatory.\n 2) If equipment needs to be sent to a different location than the physical address, then shipping address should be added.\n3) For any address type, addressLine1, city, state, postalCode and country are mandatory."
        type: string
        enum:
        - Mailing Address
        - Physical Address
        - Shipping Address
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
  BankAccount:
    displayName: BankAccount
    type: object
    properties:
      ddaType:
        required: false
        example:
          value: Checking
        displayName: ddaType
        description: Direct deposit account type.
        type: string
        enum:
        - Checking
        - Savings
      achType:
        required: false
        example:
          value: Commercial Checking
        displayName: achType
        description: Check deposit type
        type: string
        enum:
        - Commercial Checking
        - Private Checking
      accountNumber:
        required: false
        example:
          value: '011401545'
        displayName: accountNumber
        description: Direct deposit account number.  Maximum 17 characters.
        type: string
        minLength: 1
        maxLength: 17
      routingNumber:
        required: false
        example:
          value: '102000076'
        displayName: routingNumber
        description: Bank routing number. Must be 9 characters and pass ACH Mod-10 validation.
        type: string
        minLength: 9
        maxLength: 9
      bankName:
        required: false
        example:
          value: Bank name
        displayName: bankName
        description: Bank name used for credit card processing services.
        type: string
  SalesAgent:
    displayName: SalesAgent
    description: The agent who is submitting the deal.
    type: object
    properties:
      id:
        required: false
        example:
          value: U15315
        displayName: id
        description: Id for the Sales Contact.
        type: string
        minLength: 1
        maxLength: 15
      firstName:
        required: true
        example:
          value: John
        displayName: firstName
        description: Sales agent's first name.
        type: string
        minLength: 1
        maxLength: 15
      lastName:
        required: true
        example:
          value: Doe
        displayName: lastName
        description: Sales agent's last name.
        type: string
        minLength: 1
        maxLength: 25
      mobilePhoneNumber:
        required: false
        example:
          value: '1234567890'
        displayName: mobilePhoneNumber
        description: Sales agent's 10-digit phone number of the format 5131234567.
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        displayName: email
        description: Sales agent's email address.  Must have @ and a .
        type: string
        pattern: (\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}\\b{0,64})
        minLength: 1
        maxLength: 64
  InstallationContact:
    displayName: InstallationContact
    description: The Technical Agent who is going to do setup.
    type: object
    properties:
      id:
        required: false
        example:
          value: U15318
        displayName: id
        description: Id for Technical Contact
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      firstName:
        required: true
        example:
          value: Sam
        displayName: firstName
        description: Contact's first name.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      lastName:
        required: true
        example:
          value: Doe
        displayName: lastName
        description: Contact's last name.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      mobilePhoneNumber:
        required: false
        example:
          value: '1234567890'
        displayName: mobilePhoneNumber
        description: Contact's 10-digit phone number of the format 5131234567.
        type: string
        pattern: ([0-9]{10})$
        minLength: 10
        maxLength: 10
      email:
        required: true
        displayName: email
        description: Contact's email address. Must have @ and a .
        type: string
        pattern: (\\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z0-9]{2,}\\b{0,64})
        minLength: 1
        maxLength: 64
  ErrorResponse:
    displayName: ErrorResponse
    type: object
    properties:
      httpStatusCode:
        required: false
        example:
          value: 404
        displayName: httpStatusCode
        type: integer
        format: int32
      httpStatusMessage:
        required: false
        example:
          value: STATUS-MESSAGE
        displayName: httpStatusMessage
        type: string
      errors:
        required: false
        displayName: errors
        type: array
        items:
          type: Error
  Error:
    displayName: Error
    type: object
    properties:
      errorCode:
        required: false
        example:
          value: ERROR_CODE
        displayName: errorCode
        type: string
      errorMessage:
        required: false
        example:
          value: Error message here.
        displayName: errorMessage
        type: string
      target:
        required: false
        example:
          value: Target
        displayName: target
        type: string
  ExistingApplication_1:
    displayName: ExistingApplication_1
    type: object
    properties:
      externalRefId:
        required: true
        example:
          value: df8a6d82-3bb4-4f3b-ba18-57a5981ede8e
        displayName: externalRefId
        description: A unique GUID generated by POST resource, used for retrieving and updating a deal. Do not send in the request, API will always generate one and assign it to the deal.
        type: string
        pattern: ([0-9a-z]{8})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{4})-([0-9a-z]{12})
        maxLength: 36
      leadSource:
        required: false
        example:
          value: Activate
        displayName: leadSource
        description: The source of a lead.
        type: string
        maxLength: 12
      businessInfo:
        required: true
        displayName: businessInfo
        type: BusinessInfo_1
      transactionInfo:
        required: true
        displayName: transactionInfo
        type: TransactionInfo_1
      owners:
        required: false
        displayName: owners
        type: array
        items:
          type: Owner_1
      guarantors:
        required: false
        displayName: guarantors
        description: Guarantor information. A guarantor is the person whose credit report will be pulled during the underwriting process.
        type: array
        uniqueItems: true
        items:
          type: Guarantor_1
      authorizedSigners:
        required: false
        displayName: authorizedSigners
        type: array
        items:
          type: AuthorizedSigner_1
      contacts:
        required: false
        displayName: contacts
        type: array
        uniqueItems: true
        items:
          type: Contact_1
      addresses:
        required: false
        example:
          value:
          - type: Mailing Address
            addressLine1: 1234 W Tester Ave.
            city: City Town
            state: CO
            country: United States
            postalCode: '80123'
            postalCodeExtension: '1234'
          - type: Physical Address
            addressLine1: 1234 W Tester Ave.
            city: City Town
            state: CO
            country: United States
            postalCode: '80123'
            postalCodeExtension: '1234'
        displayName: addresses
        type: array
        uniqueItems: true
        items:
          type: Address_1
      bankAccount:
        required: false
        displayName: bankAccount
        description: Bank account collects bank account information from merchant. It is optional till the time of boarding where bank account becomes required along with ddaType, achType, accountNumber, routingNumber & bankName.
        type: BankAccount_1
      advancedSettelment:
        required: false
        displayName: advancedSettelment
        type: array
        items:
          type: AdvancedSettlement_inner
      salesAgent:
        required: false
        displayName: salesAgent
        description: The agent who is submitting the deal. It is an optional object. It becomes required, when  partner wants to route deals to their own sales rep. Please work with your integration specialist for route to sales rep functionality.
        type: SalesAgent_1
      installationContact:
        required: false
        displayName: installationContact
        description: The Technical Agent who is going to do setup.
        type: InstallationContact
      routeToSalesRep:
        required: false
        example:
          value: false
        displayName: routeToSalesRep
        description: Used to route a application to a worldpay or partner sales rep. By default the API is configured to route to a Worldpay sales rep. If you would like to route to partner (Launchpad UI) please work with your implementation consultant.
        type: boolean
  BusinessInfo_1:
    displayName: BusinessInfo_1
    type: object
    properties:
      dbaName:
        required: true
        example:
          value: The DBA Name
        displayName: dbaName
        description: The merchant name they do business as.  Generally with what their customers know the business.
        type: string
        minLength: 1
        maxLength: 50
      legalName:
        required: true
        displayName: legalName
        description: Business Legal Name as filed with the IRS.
        type: string
        pattern: ^([a-z0-9& -]{1,40})$
        minLength: 1
        maxLength: 40
      ownershipType:
        required: true
        example:
          value: LLC
        displayName: ownershipType
        description: Required. OwnershipType defines the type of the Merchant Organization, and drives the requirements for data collections of beneficial and control owners under U.S. Financial Crimes Enforcement Network (FinCEN).
        type: string
        enum:
        - GOVERNMENT
        - SOLE PROPRIETOR
        - LLC
        - PARTNERSHIP
        - FIN INSTITUTION
        - NON-PROFIT
        - ASSOCIATION/ESTATE/TRUST
        - PRIVATE CORPORATION
        - SEC REGISTERED
        - PUBLIC CORPORATION
        - OTHER
      mccCode:
        required: true
        example:
          value: '5812'
        displayName: mccCode
        description: SIC Code / MCC Code (Merchant Category Code) is the code use to describe what the merchant is selling. Use MCC look up call to search valid codes, with sort and long description to find the MCC that most closely matches what the merchant is selling.
        type: string
        minLength: 4
        maxLength: 4
      businessEstablishedDate:
        required: false
        example:
          value: 2000-03-23
        displayName: businessEstablishedDate
        description: Date (CCYY-MM-DD) on which the merchant's business was established.
        type: date-only
      websiteUrl:
        required: false
        example:
          value: www.thefoodplace.com
        displayName: websiteUrl
        description: The URL of the merchant's website.
        type: string
        minLength: 0
        maxLength: 80
      numberOfLocation:
        required: false
        example:
          value: 2
        displayName: numberOfLocation
        description: Number of current locations.
        type: integer
        format: int32
      federalTaxId:
        required: false
        example:
          value: '123456781'
        displayName: federalTaxId
        description: |
          The Federal Tax ID is the business Tax Identification Number (TIN) or Employer Identification Number (EIN). If the business is a sole proprietor they may use the social security number of the sole proprietor.The full list of restricted federal tax id-
            “000000000” “000000001” “000000002” “000000003” “000000004” “000000005” “000000006” “000000007” “000000008” “000000009" "111111110" “111111111” "111111112" "111111113" "111111114" "111111115" "111111116" "111111117" "111111118" "111111119" "222222220" "222222221" “222222222” "222222223" "222222224" "222222225" "222222226" "222222227" "222222228" "222222229" "333333330" "333333331" "333333332" “333333333” "333333334" "333333335" "333333336" "333333337" "333333338" "333333339"  "444444440" "444444441" "444444442" "444444443" “444444444” "444444445" "444444446" "444444447" "444444448" "444444449" "555555550" "555555551" "555555552" "555555553" "555555554" “555555555” "555555556" "555555557" "555555558" "555555559"  "666666660" "666666661" "666666662" "666666663" "666666664" "666666665" “666666666” "666666667" "666666668" "666666669" "777777770" "777777771” "777777772" "777777773" "777777774" "777777775" "777777776" “777777777” "777777778" "777777779" "888888880" "888888881" "888888882" "888888883" "888888884" "888888885" "888888886" "888888887" “888888888” "888888889"  "999999990" "999999991" "999999992" "999999993" "999999994" "999999995" "99999996"   "999999997" "999999998" “999999999”  "123456780" to "123456789" "123123123"
        type: string
        pattern: ^([a-z0-9& -]{1,40})$
        minLength: 9
        maxLength: 9
      paymentAcceptanceMethod:
        required: false
        example:
          value:
          - inPerson
          - onlineSite
        displayName: paymentAcceptanceMethod
        description: The ways in which the business is accepting payments. Multiple options may be selected. 'In person', would be card present at a brick and mortar store, 'onlinesite' would be card not present use on an ecommerce website, and 'phoneormailorder' would be card not present used for mail and telephone orders.
        type: array
        items:
          type: string
          enum:
          - inPerson
          - onlineSite
          - phoneOrMailOrder
      pciadc:
        required: false
        default: No
        example:
          value: No
        displayName: pciadc
        description: Indication if the merchant has had an account data compromise.
        type: string
        enum:
        - Yes
        - No
      pcidssValidated:
        required: false
        default: Yes
        example:
          value: No
        displayName: pcidssValidated
        description: Indictor showing if the merchant is compliant or not with the Payment Card Industry Data Security Standards.
        type: string
        enum:
        - Yes
        - No
      surroundingArea:
        required: false
        example:
          value: Commercial
        displayName: surroundingArea
        description: Type of area surroundning the business.
        type: string
        enum:
        - Commercial
        - Industrial
        - Residential
      productServiceSold:
        required: false
        example:
          value: Food
        displayName: productServiceSold
        description: Type of goods or services sold.
        type: string
        pattern: (^[-a-zA-Z0-9_ &()*+,./:;=_'‘]{1,40}$)
        minLength: 1
        maxLength: 40
      ownAddYears:
        required: false
        example:
          value: 2
        displayName: ownAddYears
        description: Years the business has been operating in their current location.
        type: integer
        minimum: 0
        maximum: 99
        format: int32
      lengthOfContract:
        required: false
        displayName: lengthOfContract
        description: Inital contract term in months.
        type: string
        pattern: ([0-9]{3})$
      seasonal:
        required: false
        example:
          value: Yes
        displayName: seasonal
        description: Does the business operate seasonally?
        type: string
        enum:
        - Yes
        - No
      activeMonths:
        required: false
        example:
          value:
          - Jan
          - Feb
          - Mar
        displayName: activeMonths
        description: The months during which the business is actively operating.
        type: array
        items:
          type: string
          enum:
          - Jan
          - Feb
          - Mar
          - Apr
          - May
          - Jun
          - Jul
          - Aug
          - Sep
          - Oct
          - Nov
          - Dec
      warranty:
        required: false
        example:
          value: 1 YEAR
        displayName: warranty
        description: Does the business offer warranties, dues, subscriptions, memberships, or other extended services?
        type: string
        enum:
        - 1 YEAR
        - 30 DAY
        - 60 DAY
        - 90 DAY
        - LIFETIME
        - NO
      returnPolicy:
        required: false
        example:
          value: 30 Day
        displayName: returnPolicy
        description: The business's return policy.
        type: string
        enum:
        - 3 Day
        - 30 Day
        - 60 Day
        - 60+ Day
        - ALL SALES FINAL
        - EXCHANGE ONLY/STORE CREDIT
        - NO RETURN POLICY
      taxExempt:
        required: false
        displayName: taxExempt
        type: string
        enum:
        - "'true'"
        - "'false'"
      acceptCreditCards:
        required: false
        displayName: acceptCreditCards
        description: Does the business accept credit cards?
        type: string
        enum:
        - "'true'"
        - "'false'"
      govOwnedMerchantCountry:
        required: false
        example:
          value: US
        displayName: govOwnedMerchantCountry
        description: If merchant is a government entity or an entity at least 50% owned or controlled by government entity than provide 2 digit country code which belongs to the country.
        type: string
  TransactionInfo_1:
    displayName: TransactionInfo_1
    type: object
    properties:
      annualSalesVolume:
        required: true
        example:
          value: 20000.12
        displayName: annualSalesVolume
        description: Projected annual sales volume.
        type: number
        minimum: 0
        maximum: 9999999999999.99
        format: double
      percentRetailSwipedTransactions:
        required: true
        example:
          value: 82
        displayName: percentRetailSwipedTransactions
        description: Projected Percentage of daily card-present transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      averageTicket:
        required: false
        example:
          value: 2.3
        displayName: averageTicket
        description: Average ticket dollar amount.
        type: number
        minimum: 0
        maximum: 9999999.99
        format: double
      highestTicket:
        required: false
        example:
          value: 32.41
        displayName: highestTicket
        description: Highest ticket dollar amount.
        type: number
        minimum: 0
        maximum: 9999999.99
        format: double
      currentProcessor:
        required: false
        example:
          value: Global Payments
        displayName: currentProcessor
        description: the current processor
        type: string
      acceptChargebacks:
        required: false
        example:
          value: No
        displayName: acceptChargebacks
        description: Do you have more than 25 chargeback accepted in the last 12 months?
        type: string
        enum:
        - Yes
        - No
      chargebackPercent:
        required: false
        example:
          value: 0
        displayName: chargebackPercent
        description: |
          Projected chargeback percentage.


          ```Required when acceptChargebacks is 'Yes'```


          ```Optional when acceptChargebacks is null or 'No'.```
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      returnPercent:
        required: false
        example:
          value: 10
        displayName: returnPercent
        description: Projected return percent of  goods sold
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      cardNotPresentPercent:
        required: false
        example:
          value: 20
        displayName: cardNotPresentPercent
        description: Percent of card not present transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      businessToBusinessPercent:
        required: false
        example:
          value: 20
        displayName: businessToBusinessPercent
        description: Percent of business-to-business transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      internetTransactionPercent:
        required: false
        example:
          value: 10
        displayName: internetTransactionPercent
        description: Percent of internet transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      inPersonTransactionPercent:
        required: false
        example:
          value: 10
        displayName: inPersonTransactionPercent
        description: Percent of in person transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      motoTransactionPercent:
        required: false
        example:
          value: 10
        displayName: motoTransactionPercent
        description: Percent of mail or phone order transactions.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      annualCreditSalesVolume:
        required: false
        example:
          value: 123.32
        displayName: annualCreditSalesVolume
        description: Projected annual credit card sales volume.
        type: number
        minimum: 0
        maximum: 999999999.99
        format: double
      annualDebitSalesVolume:
        required: false
        example:
          value: 32.23
        displayName: annualDebitSalesVolume
        description: Projected annual debit card sales volume.
        type: number
        minimum: 0
        maximum: 999999999.99
        format: double
      annualAmexVolume:
        required: false
        example:
          value: 10000
        displayName: annualAmexVolume
        description: Projected annual Amex volume. ``` This field is required when you opt-in for Amex ```
        type: number
        minimum: 0
        maximum: 999999999.99
        format: double
      amexAverageTicket:
        required: false
        example:
          value: 2.3
        displayName: amexAverageTicket
        description: |
          AverageTicket dollar amount for Amex.
           ```This field is required when you opt-in for Amex```
        type: number
        minimum: 0
        maximum: 9999999.99
        format: double
      averageNumberofDays:
        required: false
        example:
          value: 10
        displayName: averageNumberofDays
        description: Average number of days from when cardholder is charged & when products or services are received IN FULL by cardholder.
        type: integer
        minimum: 0
        maximum: 365
        format: int32
      needsProcessingBy:
        required: false
        example:
          value: 2022-11-01
        displayName: needsProcessingBy
        description: Date (CCYY-MM-DD) by which the Equipment needs to be setup. This field may be required for a given partner.
        type: date-only
  Owner_1:
    example:
      value:
        type: Control Owner Contact
        title: Owner
        firstName: Timothy
        middleInitial: M
        lastName: Jones
        phoneNumber: '1234567890'
        phoneNumberExt: '1234'
        faxNumber: '1234567890'
        email: test@test.com
        ownershipPercentage: 23
        ssn: '123456789'
        dob: 2000-03-23
        addressLine1: 4355 N Coalwhipe St.
        city: City Town
        state: OH
        country: United States
        postalCode: '80123'
        postalCodeExtension: '1234'
    displayName: Owner_1
    description: A Control Owner is required for the following ownership types > LLC, PARTNERSHIP, PRIVATE CORPORATION, ASSOCIATION/ESTATE/TRUST, NON-PROFIT
    type: object
    properties:
      type:
        required: true
        displayName: type
        description: The Owner Type. Please note the above Ownership Types where a Control Owner is required.
        type: string
        enum:
        - Control Owner Contact
        - Owner 1 Contact
        - Owner 2 Contact
        - Owner 3 Contact
        - Owner 4 Contact
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      ownershipPercentage:
        required: false
        displayName: ownershipPercentage
        description: Ownership stake percentage.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      ssn:
        required: false
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.The full list of restricted SSN is- “000000001” “000000002” “000000003” “000000004” “000000005” “000000006” “000000007” “000000008” “000000009" "111111110" “111111111” "111111112" "111111113" "111111114" "111111115" "111111116" "111111117" "111111118" "111111119" "222222220" "222222221" “222222222” "222222223" "222222224" "222222225" "222222226" "222222227" "222222228" "222222229" "333333330" "333333331" "333333332" “333333333” "333333334" "333333335" "333333336" "333333337" "333333338" "333333339"  "444444440" "444444441" "444444442" "444444443" “444444444” "444444445" "444444446" "444444447" "444444448" "444444449" "555555550" "555555551" "555555552" "555555553" "555555554" “555555555” "555555556" "555555557" "555555558" "555555559"  "666666660" "666666661" "666666662" "666666663" "666666664" "666666665" “666666666" "666666667" "666666668" "666666669" "777777770" "777777771” "777777772" "777777773" "777777774" "777777775" "777777776" “777777777” "777777778" "777777779" "888888880" "888888881" "888888882" "888888883" "888888884" "888888885" "888888886" "888888887" “888888888” "888888889"  "999999990" "999999991" "999999992" "999999993" "999999994" "999999995" "99999996"   "999999997" "999999998" “999999999”  "123456780" to "123456789" "123123123"
        type: string
        pattern: ^[0-9]{9}$
      dob:
        required: false
        example:
          value: 2000-03-23
        displayName: dob
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UM
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
      identification:
        required: false
        displayName: identification
        description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
        type: array
        items:
          type: Identification
  Guarantor_1:
    displayName: Guarantor_1
    type: object
    properties:
      type:
        required: true
        example:
          value: Guarantor 1 Contact
        displayName: type
        type: string
        enum:
        - Guarantor 1 Contact
        - Guarantor 2 Contact
        - Guarantor 3 Contact
        - Guarantor 4 Contact
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      ownershipPercentage:
        required: false
        displayName: ownershipPercentage
        description: Ownership stake percentage.
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      ssn:
        required: false
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.The full list of restricted SSN is- “000000001” “000000002” “000000003” “000000004” “000000005” “000000006” “000000007” “000000008” “000000009" "111111110" “111111111” "111111112" "111111113" "111111114" "111111115" "111111116" "111111117" "111111118" "111111119" "222222220" "222222221" “222222222” "222222223" "222222224" "222222225" "222222226" "222222227" "222222228" "222222229" "333333330" "333333331" "333333332" “333333333” "333333334" "333333335" "333333336" "333333337" "333333338" "333333339"  "444444440" "444444441" "444444442" "444444443" “444444444” "444444445" "444444446" "444444447" "444444448" "444444449" "555555550" "555555551" "555555552" "555555553" "555555554" “555555555” "555555556" "555555557" "555555558" "555555559"  "666666660" "666666661" "666666662" "666666663" "666666664" "666666665" “666666666" "666666667" "666666668" "666666669" "777777770" "777777771” "777777772" "777777773" "777777774" "777777775" "777777776" “777777777” "777777778" "777777779" "888888880" "888888881" "888888882" "888888883" "888888884" "888888885" "888888886" "888888887" “888888888” "888888889"  "999999990" "999999991" "999999992" "999999993" "999999994" "999999995" "99999996"   "999999997" "999999998" “999999999”  "123456780" to "123456789" "123123123"
        type: string
        pattern: ^[0-9]{9}$
      dob:
        required: false
        example:
          value: 2000-03-23
        displayName: dob
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UM
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
      identification:
        required: false
        displayName: identification
        description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
        type: array
        items:
          type: Identification
  AuthorizedSigner_1:
    displayName: AuthorizedSigner_1
    type: object
    properties:
      roleName:
        required: true
        example:
          value: Merchant
        displayName: roleName
        description: |
          The role of the signer. Please note the below.

           1) Merchant role name is mandatory.
           2) Required fields indicated in schema are those required for all role names other than "SalesRep"
           3) The "SalesRep" role name only requires the following fields > roleName, signingExperience, signingOrder, firstName, lastName, email
           4) The "Signer2" role name is for a Personal Guarantor. This signer must be included if a Personal Guarantor is on the application. Include the Guarnator's information in this object.
        type: string
        enum:
        - SalesRep
        - Merchant
        - Signer2
        - Signer3
        - Signer4
        - Signer5
        - Signer6
        - Signer7
        - Signer8
        - Guarantor2
        - Guarantor3
        - Guarantor4
      signingExperience:
        required: true
        example:
          value: email
        displayName: signingExperience
        description: Signing ceremony type
        type: string
        enum:
        - embed
        - email
        - wet
      signingOrder:
        required: true
        example:
          value: '2'
        displayName: signingOrder
        description: Define the signing order for multiple signers
        type: string
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 25
      phoneNumber:
        required: true
        example:
          value: '5131234567'
        displayName: phoneNumber
        description: 10-digit phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      phoneNumberExt:
        required: false
        example:
          value: '1234'
        displayName: phoneNumberExt
        description: Phone number extension. Up to 8 digits of the format 12345678.
        type: string
        pattern: ^[0-9]{1,8}$
        maxLength: 8
      phoneType:
        required: false
        example:
          value: mobile
        displayName: phoneType
        description: Phone type.
        type: string
        enum:
        - mobile
        - home
      alternatePhone:
        required: false
        example:
          value: '5131234567'
        displayName: alternatePhone
        description: 10-digit alternate phone number of the format  5131234567.
        type: string
        pattern: ^[0-9]{10}$
      alternatePhoneType:
        required: false
        example:
          value: home
        displayName: alternatePhoneType
        description: Alternate phone type.
        type: string
        enum:
        - mobile
        - home
      faxNumber:
        required: false
        example:
          value: '5131234567'
        displayName: faxNumber
        description: 10-digit fax number of the format 5131234567
        type: string
        pattern: ^[0-9]{10}$
      email:
        required: true
        example:
          value: test@gmail.com
        displayName: email
        description: Email address of the contact. Must have @ and a .
        type: string
        pattern: '\b[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z0-9]{2,}'
        minLength: 1
        maxLength: 64
      ssn:
        required: true
        example:
          value: '123456789'
        displayName: ssn
        description: Social security number. Do not include dashes.The full list of restricted SSN is- “000000001” “000000002” “000000003” “000000004” “000000005” “000000006” “000000007” “000000008” “000000009" "111111110" “111111111” "111111112" "111111113" "111111114" "111111115" "111111116" "111111117" "111111118" "111111119" "222222220" "222222221" “222222222” "222222223" "222222224" "222222225" "222222226" "222222227" "222222228" "222222229" "333333330" "333333331" "333333332" “333333333” "333333334" "333333335" "333333336" "333333337" "333333338" "333333339"  "444444440" "444444441" "444444442" "444444443" “444444444” "444444445" "444444446" "444444447" "444444448" "444444449" "555555550" "555555551" "555555552" "555555553" "555555554" “555555555” "555555556" "555555557" "555555558" "555555559"  "666666660" "666666661" "666666662" "666666663" "666666664" "666666665" “666666666" "666666667" "666666668" "666666669" "777777770" "777777771” "777777772" "777777773" "777777774" "777777775" "777777776" “777777777” "777777778" "777777779" "888888880" "888888881" "888888882" "888888883" "888888884" "888888885" "888888886" "888888887" “888888888” "888888889"  "999999990" "999999991" "999999992" "999999993" "999999994" "999999995" "99999996"   "999999997" "999999998" “999999999”  "123456780" to "123456789" "123123123"
        type: string
        pattern: ^[0-9]{9}$
      dob:
        required: true
        example:
          value: 2000-03-23
        displayName: dob
        description: Date of Birth (CCYY-MM-DD). Must be at least 18 years old.
        type: date-only
      addressLine1:
        required: true
        example:
          value: 4355 N Coalwhipe St.
        displayName: addressLine1
        description: Address Line 1. Field for house number, street and direction.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      addressLine2:
        required: false
        example:
          value: suite 104
        displayName: addressLine2
        description: Address Line 2. Field for apartment or suite numbers, etc.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 40
      city:
        required: true
        example:
          value: Denver
        displayName: city
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 28
      state:
        required: true
        example:
          value: CO
        displayName: state
        description: Valid US state, commonwealth, and territory codes are allowed.
        type: string
        enum:
        - AK
        - AL
        - AR
        - AS
        - AZ
        - CA
        - CO
        - CT
        - DC
        - DE
        - FL
        - FM
        - GA
        - GU
        - HI
        - IA
        - ID
        - IL
        - IN
        - KS
        - KY
        - LA
        - MA
        - MD
        - ME
        - MH
        - MI
        - MN
        - MO
        - MP
        - MS
        - MT
        - NC
        - ND
        - NE
        - NH
        - NJ
        - NM
        - NV
        - NY
        - OH
        - OK
        - OR
        - PA
        - PR
        - PW
        - RI
        - SC
        - SD
        - TN
        - TX
        - UM
        - UT
        - VA
        - VI
        - VT
        - WA
        - WI
        - WV
        - WY
      country:
        required: true
        displayName: country
        description: Only United States is allowed.
        type: string
        enum:
        - United States
      postalCode:
        required: true
        example:
          value: '12345'
        displayName: postalCode
        description: Postal code / zip code. The postal code must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{5}$
        minLength: 5
        maxLength: 5
      postalCodeExtension:
        required: false
        example:
          value: '1234'
        displayName: postalCodeExtension
        description: Postal code / zip code extension.  The postal code extension must be valid for the address' country code.
        type: string
        pattern: ^[0-9]{4}$
        minLength: 4
        maxLength: 4
      identification:
        required: false
        displayName: identification
        description: Optional. If any attribute in the identification object is populated then at least idNumber and idType are required.
        type: array
        items:
          type: Identification
  Contact_1:
    displayName: Contact_1
    type: object
    properties:
      type:
        required: true
        example:
          value: Primary Contact
        displayName: type
        description: "Type of merchant contact.   \n 1) Only primary contact\n      is mandatory. May be the same as any owner contact information. \n 2) For primary contact, firstName, lastName, phoneNumber and email are mandatory during POST.  \n 3) For all other contact types, firstName and lastName are mandatory during POST."
        type: string
        enum:
        - Primary Contact
        - Store Primary Contact
        - Accounting Contact
        - Customer Service Contact
        - Shipping Contact
        - Third Party Contact
        - Vendor Contact Info
        - PCI Contact
        - Corporate
      title:
        required: false
        example:
          value: President
        displayName: title
        description: Required for AMEX acquired merchants otherwise optional.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 30
      firstName:
        required: true
        example:
          value: Todd
        displayName: firstName
        description: First name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 15
      middleInitial:
        required: false
        example:
          value: M
        displayName: middleInitial
        description: Middle initial.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
        maxLength: 1
      lastName:
        required: true
        example:
          value: Davis
        displayName: lastName
        description: Last name. Region based validations will be applied to this field.
        type: string
        pattern: ^[a-zA-Z0-9 \p{P}\p{S}]+$
        minLength: 1
[...]
