<!-- <div class="-sdk-parent" #parent></div> -->
<div #parent style="position: relative; top: 70px; min-height: 100vh;">
    <div class="portal-header">
        <div class="branding-container">
            <div class="logo">
                <p>Spec Page</p>
            </div>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-spec></app-spec> -->
    <div class="hosted-api-docs">
        <div id="apimatic-widget" style="height: 100%; width: 100%;"></div>
    </div>
</div>